# Summary:

## Goal:
Given the data of music albums from [CSM](https://www.commonsensemedia.org/music-reviews), the purpose of this notebook is to find the corresponding album identifiers in Spotify.    

## Tools:
-  Spotify API and its python interface Spotipy.
-  Python regular expression to clean string and match

## Outcomes:
I found 1748 album ids out of 2206 albums.

# Import modules and credentials

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import spotipy
import os
import sys
import re
import time 
%matplotlib inline

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

from dotenv import load_dotenv
%load_ext dotenv
%dotenv

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials


client_id = os.environ['SPOTIFY_CLIENT_ID']
client_secret = os.environ['SPOTIFY_CLIENT_SECRET']
spotify = spotipy.Spotify(
    client_credentials_manager=SpotifyClientCredentials(client_id = client_id, client_secret=client_secret))

# Load  album age ratings

In [2]:
album_ratings = pd.read_csv("./data/Album_Ratings.csv")
print ("Number of albums: ", album_ratings.shape[0])
display(album_ratings.sample(3))

Number of albums:  2206

,Title,Age,Age Group,Artist,Year,Description
1977,Greatest Hits...So Far!!!,15,Teenager,Pink,2010,"Some mature themes -- but lots of positivity,..."
1178,Now That's What I Call Music! 17,12,Young Teen,Various Artists,2004,You've heard it all before.
1857,The Doors,14,Young Teen,The Doors,1967,"Morrison & Co.'s debut: dark, hypnotic all-ti..."

# Search albums using SpotifyAPI

In [ ]:
# Example: write search query

album_name = "Can a Jumbo Jet Sing the Alphabet?"
artist_name = "Hap Palmer"

results = spotify.search(q="album:" + album_name + " artist:" + artist_name, type='album,track')

print (results['albums']['items'][0]['name'])
print (results['albums']['items'][0]['id'])
print (results['albums']['items'][0]['artists'])

#  Define string-matchinig methods

In [3]:
from tabulate import tabulate


def isMatch(str1, str2, clean_str = None):
    
    """
    Decide whether str1 and str2 matched in a loose sense.
    """
    if (str1.lower() in str2.lower()) or (str2.lower() in str1.lower()):
        return True
    
    if clean_str:
        str1, str2 = clean_str(str1), clean_str(str2)
        return (str1 in str2) or (str2 in str1)
        


def manualMatch(title1, title2, artist1, artist2):
    """
    Let users decide whether (title1, artist1) and (title2, artist2) is a match.
    """

    

    display(pd.DataFrame([[title1, artist1],[title2, artist2]], index = ['query input','output']))
    
    match = input("Is it match? (y/n)")
    return (match.lower()=='y')

#  Search Albums: Found 953 albums

In [4]:
def search_album(album_name, artist_name, loose_query = False, manual_match = False, clean_str = None):
    
    if clean_str:
        album_name, artist_name = clean_str(album_name), clean_str(artist_name)
    
    if loose_query:
        results = spotify.search(q=album_name, type='album')  # slower
    else:
        results = spotify.search(q="album:" + album_name + " artist:" + artist_name, type='album') # faster

    for item in results['albums']['items']:
        album_name_spotify = item['name']
        album_id = item['id']
        artists = [artist['name'] for artist in item['artists']]
        
        if manual_match:
            for artist in artists:
                search_terms = [album_name, album_name_spotify, artist_name, artist]
                if manualMatch(*search_terms):
                    return [album_id, album_name_spotify, artists]
        
        elif isMatch(album_name, album_name_spotify):
            for artist in artists: 
                if isMatch(artist_name, artist, clean_str):
                    return [album_id, album_name_spotify, artists]

In [5]:
results = []
t1 = time.time()
    
for (i, row) in album_ratings.iterrows():
    
    if i%300 ==0 :
        time_elapsed = (time.time()-t1)/60
        print (f"Processing {i}th row.  Time elapsed: {time_elapsed:.2f} minutes. Found {len(results)} albums.")
        
    album_name, artist_name = row.Title, row.Artist
   
    if not 'cd single' in album_name.lower():
        try:
            result = search_album(album_name, artist_name)

            if result: 
                results.append((album_name, artist_name, *result))
        except:
            print("(i, album_name, artist_name)=", (i,album_name, artist_name))
            print("Unexpected error:", sys.exc_info()[0])
            break
    
    
print (f"Found {len(results)} Albums.")

albums_id_1 = pd.DataFrame(results,columns=['Album_Name','Artist','Album_ID','Album_Name_Spotify','Artists_Spotify'])

Processing 0th row.  Time elapsed: 0.00 minutes. Found 0 albums.
Processing 300th row.  Time elapsed: 0.58 minutes. Found 157 albums.
Processing 600th row.  Time elapsed: 1.03 minutes. Found 252 albums.
Processing 900th row.  Time elapsed: 1.37 minutes. Found 358 albums.
Processing 1200th row.  Time elapsed: 1.67 minutes. Found 452 albums.
Processing 1500th row.  Time elapsed: 2.12 minutes. Found 607 albums.
Processing 1800th row.  Time elapsed: 2.53 minutes. Found 758 albums.
Processing 2100th row.  Time elapsed: 2.88 minutes. Found 875 albums.
Found 953 Albums.

In [6]:
#albums_id_1.to_csv("./data/albums_id_1.csv", index=False)

albums_id_1 = pd.read_csv("./data/albums_id_1.csv")
print ("Number of albums found: ", albums_id_1.shape[0])

# Albums name 
mask = albums_id_1['Album_Name']!=albums_id_1['Album_Name_Spotify']
display(albums_id_1[mask].sample(3))

Number of albums found:  953

,Album_Name,Artist,Album_ID,Album_Name_Spotify,Artists_Spotify
124,Parades and Panoramas,Dan Zanes,5ZagB9RVFTD7gXfpf1w7Yc,Parades And Panoramas: 25 Songs Collected By C...,['Dan Zanes']
252,I Don't Want to Go to School,The Naked Brothers Band,7944vq6z7A1SE3MoflJqvY,I Don't Want To Go To School,['The Naked Brothers Band']
731,Kevin Lyttle,Kevin Lyttle,0OWwtYwEZFMquSeHGNv3cw,Kevin Lyttle (US Domestic Release),['Kevin Lyttle']

# Search Albums with clean string, loose search: Found  125 albums

In [5]:
def cleanStr(s):
   
    """
    Clean input string by keeping only alphabet, numerics, and white space. Then lowercasing.
    """
    
    # https://stackoverflow.com/a/70310018
    
    pattern = "\(.*\)"
    pattern += "|Original Motion Picture Soundtrack|Original Soundtrack|Soundtrack"
    pattern += "|Soundtrack Album|Movie Soundtrack|Music from the Motion Picture|Original Motion Picture"
    s = re.sub(pattern, "", s, flags = re.IGNORECASE).lower().strip()
    
    #del_chars = ''.join(c for c in map(chr, range(256)) if not (c.isalnum()|c.isspace()))
    #del_map = str.maketrans('', '', del_chars)
    #scrunched = s.translate(del_map).lower().strip()
                        
    #return scrunched
    return s

In [136]:
results = []
t1 = time.time()
found = albums_id_1[['Album_Name','Artist']].values.tolist() 

for (i, row) in album_ratings.iterrows():
    
    if i%200 ==0 :
        time_elapsed = (time.time()-t1)/60
        print (f"Processing {i}th row.  Time elapsed: {time_elapsed:.2f} minutes. Found {len(results)} albums.")
        
    album_name, artist_name = row.Title, row.Artist
    
    if [album_name, artist_name] in found:  # ignore albums already found
        continue
    
    
    if not 'cd single' in album_name.lower():
        result = search_album(album_name, artist_name, loose_query = True, clean_str = cleanStr)
        if result: 
            results.append((album_name, artist_name, *result))
      
    
print (f"Found {len(results)} Albums.")

albums_id_2 = pd.DataFrame(results,columns=['Album_Name','Artist','Album_ID','Album_Name_Spotify','Artists_Spotify'])

Processing 0th row.  Time elapsed: 0.00 minutes. Found 0 albums.
Processing 200th row.  Time elapsed: 0.21 minutes. Found 6 albums.
Processing 400th row.  Time elapsed: 0.39 minutes. Found 18 albums.
Processing 600th row.  Time elapsed: 0.57 minutes. Found 52 albums.
Processing 800th row.  Time elapsed: 0.69 minutes. Found 72 albums.
Processing 1000th row.  Time elapsed: 0.78 minutes. Found 79 albums.
Processing 1200th row.  Time elapsed: 0.85 minutes. Found 85 albums.
Processing 1400th row.  Time elapsed: 0.93 minutes. Found 96 albums.
Processing 1600th row.  Time elapsed: 0.98 minutes. Found 106 albums.
Processing 1800th row.  Time elapsed: 1.06 minutes. Found 113 albums.
Processing 2000th row.  Time elapsed: 1.13 minutes. Found 120 albums.
Processing 2200th row.  Time elapsed: 1.19 minutes. Found 125 albums.
Found 125 Albums.

In [7]:
#albums_id_2.to_csv("./data/albums_id_2.csv", index=False)

albums_id_2 = pd.read_csv("./data/albums_id_2.csv")
print ("Number of albums found: ", albums_id_2.shape[0])

# Albums name 
mask = albums_id_2['Album_Name']!=albums_id_2['Album_Name_Spotify']
display(albums_id_2[mask].sample(3))

Number of albums found:  125

,Album_Name,Artist,Album_ID,Album_Name_Spotify,Artists_Spotify
28,A Cinderella Story Soundtrack,Various Artists,5fDujJMK88H9vZYRjVb2Bz,A Cinderella Story: Once Upon A Song (Original...,['Various Artists']
95,The Breakfast Club: Original Motion Picture So...,Various Artists,2yrEJ5xNvTdEEFuTtcku9M,The Breakfast Club,['Various Artists']
69,Scooby-Doo 2: Monsters Unleashed Soundtrack,Various Artists,5BobIMS3CojORsCYNeVky7,Scooby-Doo 2: Monsters Unleashed,['Various Artists']

# Search Singles:  Found 567 singles

In [8]:
def search_single(album_name, artist_name, loose_query = False, manual_match = False):
    
    track_name = album_name.lower().replace("(cd single)","").replace("\"","").strip()
    
    if loose_query:
        results =  spotify.search(q="track:" + track_name, type='track')
    else:
        results =  spotify.search(q="track:" + track_name + " artist:" + artist_name, type='track')
        
    for item in results['tracks']['items']:
        track_name_spotify = item['name']
        track_id = item['id']
        artists = [artist['name'] for artist in item['artists']]
                
        if manual_match:
            for artist in artists:
                search_terms = [album_name, track_name_spotify, artist_name, artist]         
                if manualMatch(*search_terms):
                    return [track_id, track_name_spotify, artists]
        
        elif isMatch(track_name, track_name_spotify):
            for artist in artists: 
                if isMatch(artist, artist_name):
                    return [track_id, track_name_spotify, artists]

In [140]:
results = []
t1 = time.time()

found = albums_id_1[['Album_Name','Artist']].values.tolist() + albums_id_2[['Album_Name','Artist']].values.tolist()

for (i, row) in album_ratings.iterrows():
    
    if i%400 ==0 :
        time_elapsed = (time.time()-t1)/60
        print (f"Processing {i}th row.  Time elapsed: {time_elapsed:.2f} minutes. Found {len(results)} singles.")
        
    album_name, artist_name = row.Title, row.Artist
    
    if ([album_name, artist_name] not in found) and ('cd single' in album_name.lower()):  
        result = search_single(album_name, artist_name)
        if result: 
            results.append((album_name, artist_name, *result))
        
        else:
            result = search_single(album_name, artist_name, loose_query = True)
            if result: 
                results.append((album_name, artist_name, *result))

    
print (f"Found {len(results)} Singles.")

singles_id_1 = pd.DataFrame(results,columns=['Album_Name','Artist','Track_ID','Track_Name_Spotify','Artists_Spotify'])

Processing 0th row.  Time elapsed: 0.00 minutes. Found 0 singles.
Processing 400th row.  Time elapsed: 0.02 minutes. Found 7 singles.
Processing 800th row.  Time elapsed: 0.35 minutes. Found 129 singles.
Processing 1200th row.  Time elapsed: 0.72 minutes. Found 295 singles.
Processing 1600th row.  Time elapsed: 1.00 minutes. Found 397 singles.
Processing 2000th row.  Time elapsed: 1.36 minutes. Found 526 singles.
Found 567 Singles.

In [141]:
singles_id_1.sample(3)

,Album_Name,Artist,Track_ID,Track_Name_Spotify,Artists_Spotify
209,"""I Found You"" (CD Single)",The Wanted,1CRY4X2b8X7X10EUdPUutw,I Found You,[The Wanted]
101,"""Burnin' Up"" (CD single)",Jonas Brothers,2VEsmoek0sol9MnJFyoG9e,Burnin' Up,[Jonas Brothers]
359,"""Troublemaker (feat. Flo Rida)"" (CD Single)",Olly Murs,6s8nHXTJVqFjXE4yVZPDHR,Troublemaker (feat. Flo Rida),"[Olly Murs, Flo Rida]"

In [10]:
#singles_id_1.to_csv("./data/singles_id_1.csv", index=False)

singles_id_1 = pd.read_csv("./data/singles_id_1.csv")
print ("Number of singles found: ", singles_id_1.shape[0])

display(singles_id_1.sample(3))

Number of singles found:  567

,Album_Name,Artist,Track_ID,Track_Name_Spotify,Artists_Spotify
122,"""Magic"" (CD Single)",Coldplay,23khhseCLQqVMCIT1WMAns,Magic,['Coldplay']
96,"""Burn"" (CD Single)",Ellie Goulding,0xMd5bcWTbyXS7wPrBtZA6,Burn,['Ellie Goulding']
442,"""Swagga Like Us"" (CD single)","Jay-Z, Kanye West, Lil Wayne, T.I.",6N6bpwA4iiq7HtKToeVH0c,Swagga Like Us,"['JAY-Z', 'T.I.', 'Kanye West', 'Lil Wayne']"

# Semi-Manual Search:  Display query result and decide match or not

In [11]:
results = []
t1 = time.time()

found = albums_id_1[['Album_Name','Artist']].values.tolist() + albums_id_2[['Album_Name','Artist']].values.tolist()
found += singles_id_1[['Album_Name', 'Artist']].values.tolist()

print (f"Found {len(found)} albums; {len(album_ratings)-len(found)} albums not found yet.")

Found 1645 albums; 561 albums not found yet.

In [ ]:
for (i, row) in album_ratings.iterrows():
    
    if i%400 ==0 :
        time_elapsed = (time.time()-t1)/60
        print (f"Processing {i}th row.  Time elapsed: {time_elapsed:.2f} minutes. Found {len(results)} singles.")
        
    album_name, artist_name = row.Title, row.Artist
    
    if ([album_name, artist_name] not in found) and ('cd single' not in album_name.lower()):  
        result = search_album(album_name, artist_name, loose_query = True, manual_match = True)
        if result: 
            results.append((album_name, artist_name, *result))
        
    
print (f"Semi-manually Found {len(results)} albums.")

albums_id_3 = pd.DataFrame(results,columns=['Album_Name','Artist','Track_ID','Track_Name_Spotify','Artists_Spotify'])

Processing 0th row.  Time elapsed: 16.71 minutes. Found 0 singles.

                                                   0                1
0                    A Child's Celebration of Song 2  Various Artists
1  Celebration of Half Century Collection of Chil...  Various Artists

Is it match? (y/n)n

              0                1
0  World Party!  Various Artists
1   World Party       Goodie Mob

Is it match? (y/n)y

                    0                1
0  Hey, Mr. Spaceman!  Various Artists
1     Hey Mr Spaceman             BiiJ

Is it match? (y/n)y

                                 0                                        1
0                      I Got Shoes                  Sweet Honey in the Rock
1  I've Still Got Sand In My Shoes  Steve Jarrell and the Sons of the Beach

Is it match? (y/n)n

             0                        1
0  I Got Shoes  Sweet Honey in the Rock
1  I Got Shoes            Amanda Vernon

Is it match? (y/n)n

             0                        1
0  I Got Shoes  Sweet Honey in the Rock
1  I Got Shoes                Mymy Rose

Is it match? (y/n)n

                0                        1
0     I Got Shoes  Sweet Honey in the Rock
1  I've Got Shoes    Babaloo Music and Fun

Is it match? (y/n)n

             0                        1
0  I Got Shoes  Sweet Honey in the Rock
1  I got Shoes                   Yari D

Is it match? (y/n)n

                 0                        1
0      I Got Shoes  Sweet Honey in the Rock
1  I Got the Shoes               Scotty Bee

Is it match? (y/n)n

                     0                        1
0          I Got Shoes  Sweet Honey in the Rock
1  Gotta Be The Shoes!               Icy toolow

Is it match? (y/n)n

                           0                        1
0                I Got Shoes  Sweet Honey in the Rock
1  I Got New Shoes Revisited    The Albion Dance Band

Is it match? (y/n)n

                        0                           1
0             I Got Shoes     Sweet Honey in the Rock
1  I Got Soul in My Shoes  Bruce Stink and the Rebels

Is it match? (y/n)n

                        0                        1
0             I Got Shoes  Sweet Honey in the Rock
1  I Got The Shoes For It          Various Artists

Is it match? (y/n)n

                           0                         1
0            All for Freedom   Sweet Honey in the Rock
1  Freedom & Justice for All  The Charlie Daniels Band

Is it match? (y/n)n

                                     0                        1
0                      All for Freedom  Sweet Honey in the Rock
1  Freedom and Justice for All (Remix)       152 Street Records

Is it match? (y/n)n

                                  0                        1
0                   All for Freedom  Sweet Honey in the Rock
1  All Were Looking for Is Freedom         Denmark + Winter

Is it match? (y/n)n

                 0                        1
0  All for Freedom  Sweet Honey in the Rock
1  Freedom For All             Matt Braiton

Is it match? (y/n)n

                 0                        1
0  All for Freedom  Sweet Honey in the Rock
1  Freedom for All                   Lord's

Is it match? (y/n)n

                 0                        1
0  All for Freedom  Sweet Honey in the Rock
1  FREEDOM FOR ALL           Chris Arn Band

Is it match? (y/n)n

                 0                        1
0  All for Freedom  Sweet Honey in the Rock
1  Freedom for all           Chris Arn Band

Is it match? (y/n)n

                 0                        1
0  All for Freedom  Sweet Honey in the Rock
1  FREEDOM FOR ALL                JOPOV SKY

Is it match? (y/n)n

                 0                        1
0  All for Freedom  Sweet Honey in the Rock
1  Freedom For All          Neville Goddard

Is it match? (y/n)n

                 0                        1
0  All for Freedom  Sweet Honey in the Rock
1  Freedom for All                   DayOne

Is it match? (y/n)n

                 0                        1
0  All for Freedom  Sweet Honey in the Rock
1  Freedom for All                   MELO-T

Is it match? (y/n)n

                       0                1
0  Shakin' a Tailfeather        Taj Mahal
1  Shakin' A Tailfeather  Various Artists

Is it match? (y/n)y

,0,1
0,Symphony Shine Time,"Linda Sebenius, Lisa Cole"
1,Symphony Shine Time: Focus On The Brass (Featu...,Identical Harmony

Is it match? (y/n)n

                                   0        1
0  Good Morning Sun, Good Night Moon  James K
1    Good Morning Sun Goodnight Moon  James K

Is it match? (y/n)y

                                         0                1
0  cELLAbration! A Tribute to Ella Jenkins  Various Artists
1  cELLAbration: A Tribute to Ella Jenkins  Various Artists

Is it match? (y/n)y

                       0                              1
0  Peanut Butter and JAM  Charity Kahn and the JAM Band
1  Peanut Butter and JAM        Charity and the Jamband

Is it match? (y/n)y

                 0                     1
0  Baby Loves Jazz  Baby Loves Jazz Band
1       Go Baby Go       Baby Loves Jazz

Is it match? (y/n)n

                   0                               1
0    Asian Dreamland                 Various Artists
1  77 Yoga Dreamland  Asian Zen Spa Music Meditation

Is it match? (y/n)n

                   0                               1
0    Asian Dreamland                 Various Artists
1  43 Yoga Dreamland  Asian Zen Spa Music Meditation

Is it match? (y/n)n

                                  0                               1
0                   Asian Dreamland                 Various Artists
1  ! ! ! !73 Yoga Dreamland ! ! ! !  Asian Zen Spa Music Meditation

Is it match? (y/n)n

                                                  0                     1
0                                   Asian Dreamland       Various Artists
1  Drowsy | Drift in Dreamland, Healing Sleep Music  Asian Zen Meditation

Is it match? (y/n)n

                                                  0                1
0                                   Asian Dreamland  Various Artists
1  Drowsy | Drift in Dreamland, Healing Sleep Music         Ambiente

Is it match? (y/n)n

,0,1
0,Asian Dreamland,Various Artists
1,"Drowsy | Drift in Dreamland, Healing Sleep Music",Academia de Msica para Massagem Relaxamento

Is it match? (y/n)n

                              0                  1
0               Asian Dreamland    Various Artists
1  The End | Drift in Dreamland  Amazing Spa Music

Is it match? (y/n)n

                              0                     1
0               Asian Dreamland       Various Artists
1  The End | Drift in Dreamland  Asian Zen Meditation

Is it match? (y/n)n

                              0                1
0               Asian Dreamland  Various Artists
1  The End | Drift in Dreamland              Spa

Is it match? (y/n)n

                                       0                  1
0                        Asian Dreamland    Various Artists
1  No Need To Shout | Drift in Dreamland  Amazing Spa Music

Is it match? (y/n)n

                                       0                     1
0                        Asian Dreamland       Various Artists
1  No Need To Shout | Drift in Dreamland  Asian Zen Meditation

Is it match? (y/n)n

                                       0                1
0                        Asian Dreamland  Various Artists
1  No Need To Shout | Drift in Dreamland              Spa

Is it match? (y/n)n

                                                 0                  1
0                                  Asian Dreamland    Various Artists
1  50 Binaural Beats for Drifting off to Dreamland  Avslappning Sound

Is it match? (y/n)n

                                                 0                       1
0                                  Asian Dreamland         Various Artists
1  50 Binaural Beats for Drifting off to Dreamland  Relaxing Music Therapy

Is it match? (y/n)n

,0,1
0,Asian Dreamland,Various Artists
1,50 Binaural Beats for Drifting off to Dreamland,Asian Zen Spa Music Meditation

Is it match? (y/n)n

                        0                1
0  Swing Around the World  Various Artists
1  Swing Around the World      Fleur Seule

Is it match? (y/n)y

                       0              1
0              Baby Noah  Baby Einstein
1  Holiday Baby Sleepers     Noah Jacob

Is it match? (y/n)n

           0              1
0  Baby Noah  Baby Einstein
1    98 Baby     Noah North

Is it match? (y/n)n

           0                 1
0  Baby Noah     Baby Einstein
1       baby  Noah Santa Maria

Is it match? (y/n)n

              0               1
0     Baby Noah   Baby Einstein
1  NOAH'S DEATH  Lil Baby Daddy

Is it match? (y/n)n

           0              1
0  Baby Noah  Baby Einstein
1    Oo Baby           NOAH

Is it match? (y/n)n

             0              1
0    Baby Noah  Baby Einstein
1  Baby Mrame         NOAH H

Is it match? (y/n)n

             0              1
0    Baby Noah  Baby Einstein
1  Mommas Baby   Noah Watkins

Is it match? (y/n)n

            0              1
0   Baby Noah  Baby Einstein
1  Baby Sloth  Noah Faulkner

Is it match? (y/n)n

                  0              1
0         Baby Noah  Baby Einstein
1  Baby (I'm Faded)    Noah Wright

Is it match? (y/n)n

                         0              1
0                Baby Noah  Baby Einstein
1  Baby Smooth Brown Noise    Sleepy Noah

Is it match? (y/n)n

                  0                        1
0  Experience...101  Sweet Honey in the Rock
1    Experience 101  Sweet Honey In The Rock

Is it match? (y/n)

                                            0                        1
0                            Experience...101  Sweet Honey in the Rock
1  Party Planning 101: A Priceless Experience           Priceless Lion

Is it match? (y/n)n

                                                   0                        1
0                                   Experience...101  Sweet Honey in the Rock
1  101 Strings Plus Dynamic Percussion: An Experi...    101 Strings Orchestra

Is it match? (y/n)n

                                                   0                        1
0                                   Experience...101  Sweet Honey in the Rock
1  Deepest Sleep 101 - Music to Induce Lucid Drea...     Relaxing Music House

Is it match? (y/n)n

                                                   0                        1
0                                   Experience...101  Sweet Honey in the Rock
1  Meditation 101: Experience the Benefits of the...               Meditation

Is it match? (y/n)n

,0,1
0,Experience...101,Sweet Honey in the Rock
1,Meditation 101: Experience the Benefits of the...,Spa Piano Music Specialists

Is it match? (y/n)n

                         0                               1
0         Experience...101         Sweet Honey in the Rock
1  Spa Dreams & Meditation  Sleep Meditation Dream Catcher

Is it match? (y/n)n

                         0                        1
0         Experience...101  Sweet Honey in the Rock
1  Spa Dreams & Meditation          Sleep Songs 101

Is it match? (y/n)n

                         0                            1
0         Experience...101      Sweet Honey in the Rock
1  Spa Dreams & Meditation  Meditation Music Experience

Is it match? (y/n)n

,0,1
0,Experience...101,Sweet Honey in the Rock
1,Sounds of Nature | Sleep | Sounds | Sleep and ...,Spa Chillout Music Collection

Is it match? (y/n)n

                                                   0                        1
0                                   Experience...101  Sweet Honey in the Rock
1  Sounds of Nature | Sleep | Sounds | Sleep and ...          Sleep Songs 101

Is it match? (y/n)n

,0,1
0,Experience...101,Sweet Honey in the Rock
1,Sounds of Nature | Sleep | Sounds | Sleep and ...,Meditation Music Experience

Is it match? (y/n)n

                                       0                         1
0                       Experience...101   Sweet Honey in the Rock
1  Relaxation Sounds | Relaxation Sounds  Tranquility Spa Universe

Is it match? (y/n)n

                                       0                            1
0                       Experience...101      Sweet Honey in the Rock
1  Relaxation Sounds | Relaxation Sounds  Deep Sleep Music Experience

Is it match? (y/n)n

                                       0                        1
0                       Experience...101  Sweet Honey in the Rock
1  Relaxation Sounds | Relaxation Sounds          Sleep Songs 101

Is it match? (y/n)n

                                    0                        1
0                    Experience...101  Sweet Honey in the Rock
1  Rain Sounds for Instant Deep Sleep   Masters of Binaurality

Is it match? (y/n)n

                                    0                        1
0                    Experience...101  Sweet Honey in the Rock
1  Rain Sounds for Instant Deep Sleep          Sleep Songs 101

Is it match? (y/n)n

                                    0                            1
0                    Experience...101      Sweet Honey in the Rock
1  Rain Sounds for Instant Deep Sleep  Deep Sleep Music Experience

Is it match? (y/n)n

                                                   0                        1
0                                   Experience...101  Sweet Honey in the Rock
1  #Massage Music - New Age Sounds, Massage Music...           Regengerusche

Is it match? (y/n)n

                                                   0                        1
0                                   Experience...101  Sweet Honey in the Rock
1  #Massage Music - New Age Sounds, Massage Music...          Sleep Songs 101

Is it match? (y/n)n

,0,1
0,Experience...101,Sweet Honey in the Rock
1,"#Massage Music - New Age Sounds, Massage Music...",Deep Sleep Music Experience

Is it match? (y/n)n

                                   0                      1
0  Jack's Big Music Show, Season One  Jack's Big Music Show
1   Jack's Big Music Show Season One        Various Artists

Is it match? (y/n)y

                                       0                              1
0                      Toddler Favorites                Various Artists
1  Toddler Favorites: Special Combo Pack  Music For Little People Choir

Is it match? (y/n)y

                                     0                1
0          Sesame Street: Platinum Too  Various Artists
1  Sesame Street: Platinum Too, Vol. 1    Sesame Street

Is it match? (y/n)y

                0                1
0  Rockabye Baby!  Various Artists
1   Rockabye Baby   Rene Rillettes

Is it match? (y/n)y

                                   0                  1
0            Dora's World Adventure!    Various Artists
1  Dora The Explorer World Adventure  Dora The Explorer

Is it match? (y/n)y

                                0                1
0                   Latin Lullaby  Various Artists
1  Hot Latin Lullaby Hits, Vol. 1   Baby Creations

Is it match? (y/n)n

                 0                1
0    Latin Lullaby  Various Artists
1  A Latin Lullaby             Bee.

Is it match? (y/n)n

,0,1
0,Latin Lullaby,Various Artists
1,Restaurant Live Music - Entspannende Chill Lat...,Bella's Lullaby Romantic Piano Music

Is it match? (y/n)n

                                                   0                 1
0                                      Latin Lullaby   Various Artists
1  Restaurant Live Music - Entspannende Chill Lat...  Smooth Jazz Club

Is it match? (y/n)n

,0,1
0,Latin Lullaby,Various Artists
1,Restaurant Live Music - Entspannende Chill Lat...,Bossa Nova Guitar Smooth Jazz Piano Club

Is it match? (y/n)n

                          0       1
0      Run Jump Skip & Sing  Barney
1  Run, Jump, Skip and Sing  Barney

Is it match? (y/n)y

                                        0                              1
0  Blue Suede Shoes: Elvis Songs for Kids                Various Artists
1  Blue Suede Shoes: Elvis Songs For Kids  Music For Little People Choir

Is it match? (y/n)y

                                                   0                1
0                      A Child's Celebration of Song  Various Artists
1  Composition Album of Celebration for Half Deca...  Various Artists

Is it match? (y/n)n

                                                   0                1
0                      A Child's Celebration of Song  Various Artists
1  Composition Album of Celebration for Half Deca...  Various Artists

Is it match? (y/n)n

                                                   0                1
0                      A Child's Celebration of Song  Various Artists
1  Celebration of Half Century Collection of Chil...  Various Artists

Is it match? (y/n)n

                                                   0                1
0                      A Child's Celebration of Song  Various Artists
1  Celebration of Half Century Collection of Chil...  Various Artists

Is it match? (y/n)n

              0            1
0  Let's Wiggle  The Wiggles
1    Let's Eat!  The Wiggles

Is it match? (y/n)n

                                                   0            1
0                                       Let's Wiggle  The Wiggles
1  Live From Hot Potato Studios: Let There Be Roc...  The Wiggles

Is it match? (y/n)n

              0            1
0  Let's Wiggle  The Wiggles
1  LET'S WIGGLE  Eddie Watts

Is it match? (y/n)n

                  0            1
0      Let's Wiggle  The Wiggles
1  Let's Get Wiggle  Aarn Mrtnz

Is it match? (y/n)n

                      0            1
0          Let's Wiggle  The Wiggles
1  Wobble Let It Wiggle   Yolo Cruzz

Is it match? (y/n)n

                       0               1
0           Let's Wiggle     The Wiggles
1  Let Me See You Wiggle  Frank McKinney

Is it match? (y/n)n

                       0                   1
0           Let's Wiggle         The Wiggles
1  Wiggle(Throw It Back)  Jacob Lethal Beats

Is it match? (y/n)n

                       0                          1
0           Let's Wiggle                The Wiggles
1  Wiggle(Throw It Back)  JOHHNY DANE INTERNATIONAL

Is it match? (y/n)n

                       0            1
0           Let's Wiggle  The Wiggles
1  Wiggle(Throw It Back)    LADY ICIS

Is it match? (y/n)n

                                    0            1
0                        Let's Wiggle  The Wiggles
1  Let's All Join for a Sing and Play   Wigglepods

Is it match? (y/n)n

                0             1
0    Let's Wiggle   The Wiggles
1  Let's Canoodle  Red Wigglers

Is it match? (y/n)n

                             0            1
0                 Let's Wiggle  The Wiggles
1  Let's Go Walking All Around   Wigglepods

Is it match? (y/n)n

                                             0              1
0  Sesame Street Platinum:  All-Time Favorites  Sesame Street
1   Sesame Street: Platinum All-Time Favorites  Sesame Street

Is it match? (y/n)y

                      0                              1
0  Rock Your Socks Off!  Charity Kahn and the JAM Band
1   Rock Your Socks Off        Charity and the Jamband

Is it match? (y/n)y

                                                   0                      1
0                   We are...The Laurie Berkner Band         Laurie Berkner
1  We Are the Dinosaurs (Originally Performed by ...  Singer's Edge Karaoke

Is it match? (y/n)n

              0                        1
0  Grace's Bell    Ben Rudnick & Friends
1  Grace's Bell  Ben Rudnick and Friends

Is it match? (y/n)y

,0,1
0,Nursery Rhymes and Other Fun Songs!,Teletubbies
1,"Baby Bells Nursery Rhymes (Nursery Rhymes, Lul...",Active Baby Music Workshop

Is it match? (y/n)n

                     0                       1
0  Let's Go Everywhere   Medeski Martin & Wood
1  Let's Go Everywhere  Medeski, Martin & Wood

Is it match? (y/n)y

                                                   0                        1
0                                        My 5 Senses               Braincandy
1  Mystical Spiritual Journey: Shamanic World, Sa...  Aboriginal Native Music

Is it match? (y/n)n

                                                   0                       1
0                                        My 5 Senses              Braincandy
1  Mystical Spiritual Journey: Shamanic World, Sa...  Sacral Chakra Universe

Is it match? (y/n)n

,0,1
0,My 5 Senses,Braincandy
1,"Mystical Spiritual Journey: Shamanic World, Sa...",Five Senses Meditation Sanctuary

Is it match? (y/n)n

                            0               1
0                 My 5 Senses      Braincandy
1  Baby Beats: My Five Senses  Dance 'n Beats

Is it match? (y/n)n

                                0                           1
0                     My 5 Senses                  Braincandy
1  Humans Have More Than 5 Senses  Mystic Soundgardening Club

Is it match? (y/n)n

             0               1
0  My 5 Senses      Braincandy
1        My five Senses

Is it match? (y/n)n

                                          0           1
0                               My 5 Senses  Braincandy
1  Mystical Spa - Yoga and Meditation Music    Yoga Goa

Is it match? (y/n)n

                                          0                                 1
0                               My 5 Senses                        Braincandy
1  Mystical Spa - Yoga and Meditation Music  Five Senses Meditation Sanctuary

Is it match? (y/n)n

                                          0                     1
0                               My 5 Senses            Braincandy
1  Mystical Spa - Yoga and Meditation Music  Stress Relief Helper

Is it match? (y/n)n

                       0               1
0               Chickens  BB, Buck Howdy
1  Chickens in Your Town    L'Entourloop

Is it match? (y/n)n

                                        0                1
0                                Chickens   BB, Buck Howdy
1  Sandra Boynton's Philadelphia Chickens  Various Artists

Is it match? (y/n)n

          0                1
0  Chickens   BB, Buck Howdy
1  Chickens  Forrest Flowers

Is it match? (y/n)n

          0               1
0  Chickens  BB, Buck Howdy
1  Chickens      Buck Howdy

Is it match? (y/n)y

                                                   0                  1
0                        Vamos a Bailar/Let's Dance!  Dora the Explorer
1  !Vamos a bailar! Let's Dance! The Dora the Exp...  Dora The Explorer

Is it match? (y/n)n

                                                   0                  1
0                        Vamos a Bailar/Let's Dance!  Dora the Explorer
1  Vamos Vamos a Bailar! (C'mon Let's Dance!) [Ra...         Kangkeroot

Is it match? (y/n)n

                                   0                  1
0        Vamos a Bailar/Let's Dance!  Dora the Explorer
1  Vamos a Bailar, Let's dance Latin        Latino Gogo

Is it match? (y/n)n

                                               0                  1
0                    Vamos a Bailar/Let's Dance!  Dora the Explorer
1  Let's dance, vamos a bailar (feat. Baby Noel)              Rasel

Is it match? (y/n)n

                                    0                                      1
0  Baby Einstein: Music Box Orchestra                          Baby Einstein
1          Baby Einstein: World Music  The Baby Einstein Music Box Orchestra

Is it match? (y/n)n

                                    0                                      1
0  Baby Einstein: Music Box Orchestra                          Baby Einstein
1   Baby Einstein: Playtime Music Box  The Baby Einstein Music Box Orchestra

Is it match? (y/n)y

                           0               1
0  Lullabies and Wildflowers  Melissa Errico
1    Lullabies & Wildflowers  Melissa Errico

Is it match? (y/n)y

                                           0                               1
0  Siente: Night Songs From Around the World    Hilary Field, Patrice O'Neil
1  Siente: Night Songs From Around The World  Hilary Field & Patrice O'Neill

Is it match? (y/n)y

                             0                1
0   Let the Good Times Rouler!  Various Artists
1  Let the Good Times Rouler !  Various Artists

Is it match? (y/n)y

                                    0                  1
0  Dora the Explorer: Party Favorites  Dora the Explorer
1   Dora The Explorer Party Favorites  Dora The Explorer

Is it match? (y/n)y

                                   0           1
0                   Wee-phabet Songs   WeTeachIt
1  Wee-phabet Songs with a Fun Twist  WeeTeachIt

Is it match? (y/n)y

                            0                                      1
0   Baby Einstein World Music                          Baby Einstein
1  Baby Einstein: World Music  The Baby Einstein Music Box Orchestra

Is it match? (y/n)y

                           0                              1
0  Party Like a Twinkle Star  Charity Kahn and the JAM Band
1  Party Like a Twinkle Star        Charity and the Jamband

Is it match? (y/n)y

                                 0                           1
0    Dora the Explorer: We Did It!  Dora the Explorer, Shakira
1  We Did It! Dora's Greatest Hits           Dora The Explorer

Is it match? (y/n)y

                             0            1
0  It's a  Wiggly Wiggly World  The Wiggles
1  It's a Wiggly, Wiggly World  The Wiggles

Is it match? (y/n)y

                        0                   1
0      Acoustic Dreamland     Various Artists
1  Adam's Song (Acoustic)  The Dreamland Fire

Is it match? (y/n)n

                    0                1
0  Acoustic Dreamland  Various Artists
1  Acoustic Dreamland    Ambient Piano

Is it match? (y/n)y

             0                                 1
0  What a Zoo!    Joanie Leeds & The Nightlights
1  What A Zoo!  Joanie Leeds and the Nightlights

Is it match? (y/n)y

                                     0                1
0  Putumayo Presents: Celtic Christmas  Various Artists
1   Putumayo Presents Celtic Christmas  Various Artists

Is it match? (y/n)y

                                         0                   1
0                              Santa Songs          Hullabaloo
1  Santa Shark & More Kids Christmas Songs  Super Simple Songs

Is it match? (y/n)n

             0           1
0  Santa Songs  Hullabaloo
1  Santa Songs    Dan Crow

Is it match? (y/n)n

                                   0                           1
0                        Santa Songs                  Hullabaloo
1  Christmas Party Songs: Santa Baby  The O'Neill Brothers Group

Is it match? (y/n)n

             0            1
0  Santa Songs   Hullabaloo
1  Santa Songs  Bryan Gallo

Is it match? (y/n)n

                                                   0             1
0                                        Santa Songs    Hullabaloo
1  Red Dress Special - Pow-Wow Songs Recorded Liv...  Young Spirit

Is it match? (y/n)n

                                                   0                   1
0                                        Santa Songs          Hullabaloo
1  The Night Before Christmas & When Santa Got St...  Songs For Children

Is it match? (y/n)n

                                           0               1
0                                Santa Songs      Hullabaloo
1  Birgit Nilsson's Greatest Songs and Arias  Birgit Nilsson

Is it match? (y/n)n

             0                      1
0  Santa Songs             Hullabaloo
1  Drunk Santa  Funny Christmas Songs

Is it match? (y/n)n

                                                   0                  1
0                                        Santa Songs         Hullabaloo
1  Rosa das rosas: Cantigas de Santa Maria & Othe...  The Rose Ensemble

Is it match? (y/n)n

                                                   0              1
0                                        Santa Songs     Hullabaloo
1  Rosa das rosas: Cantigas de Santa Maria & Othe...  Jordan Sramek

Is it match? (y/n)n

              0           1
0   Santa Songs  Hullabaloo
1  Cowboy Songs  Santa Poco

Is it match? (y/n)n

                                   0                 1
0  Thomas & Friends: All-Star Tracks   Various Artists
1  Thomas & Friends: All Star Tracks  Thomas & Friends

Is it match? (y/n)y

                        0                         1
0  Songs from the Sandbox  Stephan Michael Schwartz
1  Songs from the Sandbox  Stephen Michael Schwartz

Is it match? (y/n)y

                        0                                    1
0  Welcome to the Village  Aaron Nigel Smith, One World Chorus
1  Welcome To The Village                Windsor Village Choir

Is it match? (y/n)n

                         0                                     1
0   Welcome to the Village   Aaron Nigel Smith, One World Chorus
1  Welcome to the Village!  Aaron Nigel Smith & One World Chorus

Is it match? (y/n)y

                                             0                   1
0   Catchin' Some Peazz: Vol. 6, The Lullabies  Hot Peas 'N Butter
1  Catchin' some Peazzz, the Lullabies, Vol. 6  Hot Peas 'n Butter

Is it match? (y/n)y

                         0                1
0         Everyday Grooves  Various Artists
1  Smooth Everyday Grooves           Lefamu

Is it match? (y/n)n

                                              0                1
0                              Everyday Grooves  Various Artists
1  Everyday Grooves from the Fred Rogers Center        Adam Blau

Is it match? (y/n)n

                                                   0                      1
0                                   Everyday Grooves        Various Artists
1  Cheerful and Cool Jazz Grooves: Instrumental J...  Everyday Jazz Academy

Is it match? (y/n)n

                                   0                              1
0                      Family Values  Charity Kahn and the JAM Band
1  Family Values (with Nina Nesbitt)                          R3HAB

Is it match? (y/n)n

                                   0                              1
0                      Family Values  Charity Kahn and the JAM Band
1  Family Values (with Nina Nesbitt)                   Nina Nesbitt

Is it match? (y/n)n

                             0                              1
0                Family Values  Charity Kahn and the JAM Band
1  The Family Values Tour 1999                Various Artists

Is it match? (y/n)n

                        0                              1
0           Family Values  Charity Kahn and the JAM Band
1  Family Values Tour '98                Various Artists

Is it match? (y/n)n

                                              0                              1
0                                 Family Values  Charity Kahn and the JAM Band
1  Family Values (with Nina Nesbitt) [Acoustic]                          R3HAB

Is it match? (y/n)n

                                              0                              1
0                                 Family Values  Charity Kahn and the JAM Band
1  Family Values (with Nina Nesbitt) [Acoustic]                   Nina Nesbitt

Is it match? (y/n)n

                       0                              1
0          Family Values  Charity Kahn and the JAM Band
1  Family Values (Remix)                 Sebastian Azul

Is it match? (y/n)n

,0,1
0,Family Values,Charity Kahn and the JAM Band
1,Family Values (with Nina Nesbitt) [Jonasu Remix],R3HAB

Is it match? (y/n)n

,0,1
0,Family Values,Charity Kahn and the JAM Band
1,Family Values (with Nina Nesbitt) [Jonasu Remix],Nina Nesbitt

Is it match? (y/n)n

,0,1
0,Family Values,Charity Kahn and the JAM Band
1,Family Values (with Nina Nesbitt) [Jonasu Remix],Jonasu

Is it match? (y/n)n

               0                              1
0  Family Values  Charity Kahn and the JAM Band
1  Family Values        Charity and the Jamband

Is it match? (y/n)y

                                         0                1
0  Putumayo Kids Presents World Sing-Along  Various Artists
1  Putumayo Kids Presents World Sing Along  Various Artists

Is it match? (y/n)y

                        0              1
0             I'm Growing  Gunnar Madsen
1  I Think I'm Growing Up     Abby Siler

Is it match? (y/n)n

                          0              1
0               I'm Growing  Gunnar Madsen
1  Growing Up Is Killing Me          Veara

Is it match? (y/n)n

                                        0               1
0                             I'm Growing   Gunnar Madsen
1  I'm Growing Old With You (I feel like)  Apollo Fox 200

Is it match? (y/n)n

                                                   0                1
0                                        I'm Growing    Gunnar Madsen
1  Glorious Rainmood - Nature Music for Growing Kids  Various Artists

Is it match? (y/n)n

                   0              1
0        I'm Growing  Gunnar Madsen
1  Growing Into More          Oruko

Is it match? (y/n)n

             0                  1
0  I'm Growing      Gunnar Madsen
1   Growing In  I Can Make A Mess

Is it match? (y/n)n

                                                   0                1
0                                        I'm Growing    Gunnar Madsen
1  Little Genius: Classical Music for Growing Bra...  Various Artists

Is it match? (y/n)n

,0,1
0,I'm Growing,Gunnar Madsen
1,Christian Meditation: Renew Your Mind In Him,Growing Prosperity Productions

Is it match? (y/n)n

                         0                   1
0              I'm Growing       Gunnar Madsen
1  Growing Up Is For Trees  I'm From Barcelona

Is it match? (y/n)n

                                                 0                1
0                                      I'm Growing    Gunnar Madsen
1  Cheerfully Growing - Spiritual Meditation Music  Various Artists

Is it match? (y/n)n

                                              0               1
0  Doodlebops: Rock and Bop with the Doodlebops  The Doodlebops
1                Rock & Bop with the Doodlebops  The Doodlebops

Is it match? (y/n)y

                                      0                 1
0  Thomas' Songs and Roundhouse Rhythms   Various Artists
1    Thomas' Songs & Roundhouse Rhythms  Thomas & Friends

Is it match? (y/n)y

                          0             1
0  Listen to the Music Band  David Grover
1       Listen To The Music      JAR Band

Is it match? (y/n)n

                          0                  1
0  Listen to the Music Band       David Grover
1       Listen to the Music  Aspen Meadow Band

Is it match? (y/n)n

                          0                       1
0  Listen to the Music Band            David Grover
1       Listen to the Music  Teddy & The Conga Band

Is it match? (y/n)n

                            0                       1
0    Listen to the Music Band            David Grover
1  Listen to the Music Vol. 2  Teddy & The Conga Band

Is it match? (y/n)n

                            0                       1
0    Listen to the Music Band            David Grover
1  Listen to the Music Vol. 5  Teddy & The Conga Band

Is it match? (y/n)n

                            0                       1
0    Listen to the Music Band            David Grover
1  Listen to the Music Vol. 4  Teddy & The Conga Band

Is it match? (y/n)n

                            0                       1
0    Listen to the Music Band            David Grover
1  Listen to the Music Vol. 3  Teddy & The Conga Band

Is it match? (y/n)n

                                                   0                        1
0                           Listen to the Music Band             David Grover
1  Lullaby Listening to the Mother's Piano, Colle...  Lullaby & Prenatal Band

Is it match? (y/n)n

                                                   0                        1
0                           Listen to the Music Band             David Grover
1  Lullaby Listening to the Mother's Piano, Vol. ...  Lullaby & Prenatal Band

Is it match? (y/n)n

                                                   0                     1
0                           Listen to the Music Band          David Grover
1  20 The Best of Modern Blues: Relaxing Instrume...  Good City Music Band

Is it match? (y/n)n

                    0              1
0  The Rhyming Circus   Ralph Covert
1  The Rhyming Circus  Ralph's World

Is it match? (y/n)y

,0,1
0,Robbert Bobbert & the Bubble Machine,Robert Schneider
1,Robbert Bobbert and the Bubble Machine,Robbert Bobbert and the Bubble Machine

Is it match? (y/n)y

                                   0                1
0   Playhouse Disney Music Play Date  Various Artists
1  Playhouse Disney: Music Play Date  Various Artists

Is it match? (y/n)y

                          0              1
0  All Around Ralph's World   Ralph Covert
1  All Around Ralph's World  Ralph's World

Is it match? (y/n)y

                                0                1
0  Playhouse Disney: Let's Dance!  Various Artists
1    Playhouse Disney Let's Dance  Various Artists

Is it match? (y/n)y

                                                   0                    1
0  The Fresh Beat Band: Music from the Hit TV Sho...  The Fresh Beat Band
1  The Fresh Beat Band Vol 2.0: More Music From T...  The Fresh Beat Band

Is it match? (y/n)n

                                                   0                    1
0  The Fresh Beat Band: Music from the Hit TV Sho...  The Fresh Beat Band
1  The Fresh Beat Band Vol 2.0: More Music From T...  The Fresh Beat Band

Is it match? (y/n)n

                     0            1
0         I Wanna Play  Bill Harley
1  I Wanna Play A Game       NEFFEX

Is it match? (y/n)n

                     0            1
0         I Wanna Play  Bill Harley
1  I Wanna Play A Game     Jez Dior

Is it match? (y/n)n

                                 0               1
0                     I Wanna Play     Bill Harley
1  I Wanna Play For You (Complete)  Stanley Clarke

Is it match? (y/n)n

                0            1
0    I Wanna Play  Bill Harley
1  You Wanna Play       Sucree

Is it match? (y/n)n

                0            1
0    I Wanna Play  Bill Harley
1  You Wanna Play  Ially Mazza

Is it match? (y/n)n

                0            1
0    I Wanna Play  Bill Harley
1  You Wanna Play  Rafa Ziller

Is it match? (y/n)n

                      0               1
0          I Wanna Play     Bill Harley
1  I Wanna Play For You  Stanley Clarke

Is it match? (y/n)n

                               0            1
0                   I Wanna Play  Bill Harley
1  I Don't Wanna Play (No Games)        Avaro

Is it match? (y/n)n

              0            1
0  I Wanna Play  Bill Harley
1  I Wanna Play    The Trews

Is it match? (y/n)n

                       0            1
0           I Wanna Play  Bill Harley
1  How You Wanna Play It       K$hare

Is it match? (y/n)n

                       0            1
0           I Wanna Play  Bill Harley
1  How You Wanna Play It      Tri$ten

Is it match? (y/n)n

                       0            1
0           I Wanna Play  Bill Harley
1  How You Wanna Play It       Fre$co

Is it match? (y/n)n

                              0                      1
0                  I Wanna Play            Bill Harley
1  I Wanna Play with Your Heart  Red Bricks Foundation

Is it match? (y/n)n

              0               1
0  I Wanna Play     Bill Harley
1  I Wanna Play  Yugen Destrxys

Is it match? (y/n)n

                       0            1
0           I Wanna Play  Bill Harley
1  I Wanna Play The Game    Dizartino

Is it match? (y/n)n

                        0                                   1
0  Every Day Is Earth Day  Recycleman and the Dumpster Divers
1  Every Day Is Earth Day         Recycleman & The Waste Band

Is it match? (y/n)y

             0                 1
0  Snack Time!  Barenaked Ladies
1   Snack Time  Zoomer the Baker

Is it match? (y/n)n

             0                                 1
0  Snack Time!                  Barenaked Ladies
1   Snack Time  Kyle Duke and The Brown Bag Boys

Is it match? (y/n)n

             0                 1
0  Snack Time!  Barenaked Ladies
1   Snack Time  Byrell The Great

Is it match? (y/n)n

             0                  1
0  Snack Time!   Barenaked Ladies
1   Snack Time  Princess Precious

Is it match? (y/n)n

                                 0                 1
0                      Snack Time!  Barenaked Ladies
1  Snack Time (On Some Shit Patch)    Bfb Da Packman

Is it match? (y/n)n

                                                 0                 1
0                                      Snack Time!  Barenaked Ladies
1  Evening Lounge - Chillout Music For Snacks Time   Various Artists

Is it match? (y/n)n

                 0                 1
0      Snack Time!  Barenaked Ladies
1  It's Snack Time          Leopoldo

Is it match? (y/n)n

                   0                  1
0        Snack Time!   Barenaked Ladies
1  Alaska Snack Time  Alaska Snack Time

Is it match? (y/n)n

             0                 1
0  Snack Time!  Barenaked Ladies
1    The Times    Midnight Snack

Is it match? (y/n)n

                 0                 1
0      Snack Time!  Barenaked Ladies
1  It's Snack Time  Funny Dog's Name

Is it match? (y/n)n

,0,1
0,Snack Time!,Barenaked Ladies
1,Sunset Beach Chill (Chill Out Music For Evenin...,Stress Reduction Healing Mellow Chill Out Beats

Is it match? (y/n)n

,0,1
0,Snack Time!,Barenaked Ladies
1,Sunset Beach Chill (Chill Out Music For Evenin...,Psychedelic Electronica Chill Out Festival

Is it match? (y/n)n

                                                   0                       1
0                      The Sound of Music Soundtrack         Various Artists
1  The Sound of Music (Music from the NBC Televis...  Original TV Soundtrack

Is it match? (y/n)y

                                                   0                        1
0                 Alvin and the Chipmunks Soundtrack  Alvin and the Chipmunks
1  Alvin and the Chipmunks: The Squeakquel (Origi...    Alvin & The Chipmunks

Is it match? (y/n)y

                                        0                1
0                      One World, One Kid  Various Artists
1  Elly's World of Nursery Rhymes, Vol. 1       Kid's Camp

Is it match? (y/n)n

                      0                1
0    One World, One Kid  Various Artists
1  Majin World Series 1     Kid Lucilfer

Is it match? (y/n)n

                    0                1
0  One World, One Kid  Various Artists
1  Kids World, Vol. 1    Erwan Loeffel

Is it match? (y/n)n

                            0                1
0          One World, One Kid  Various Artists
1  Chris Kidd's World, Vol. 1       Chris Kidd

Is it match? (y/n)n

                      0                  1
0    One World, One Kid    Various Artists
1  Kiddie's World Vol.1  Kids Media Tracks

Is it match? (y/n)n

                      0                     1
0    One World, One Kid       Various Artists
1  Kiddie's World Vol.1  Fun Children's Music

Is it match? (y/n)n

                      0                1
0    One World, One Kid  Various Artists
1  Kiddie's World Vol.1     Media Tracks

Is it match? (y/n)n

                       0                1
0     One World, One Kid  Various Artists
1  Kidz World - Volume 1  Various Artists

Is it match? (y/n)n

                              0                1
0            One World, One Kid  Various Artists
1  Rock Your World Kids!, Vol.1          Armelle

Is it match? (y/n)n

                          0                 1
0        One World, One Kid   Various Artists
1  McFly World Kids Volume1  McFly World Kids

Is it match? (y/n)n

                                         0                1
0                       One World, One Kid  Various Artists
1  The World's Greatest Kid's Music Vol. 1    Happy Animals

Is it match? (y/n)n

                                                   0                 1
0                                 One World, One Kid   Various Artists
1  Kid Entrepreneurs Saving the World One Busines...  Hysteric's Truth

Is it match? (y/n)n

                             0                     1
0                  Let's Dance  Strawberry Shortcake
1  Let's Dance (2018 Remaster)           David Bowie

Is it match? (y/n)n

             0                     1
0  Let's Dance  Strawberry Shortcake
1  Let's Dance           David Bowie

Is it match? (y/n)n

                 0                     1
0      Let's Dance  Strawberry Shortcake
1  Let's Dance Raw     Shintaro Sakamoto

Is it match? (y/n)n

                    0                     1
0         Let's Dance  Strawberry Shortcake
1  Shut Up Lets Dance       Various Artists

Is it match? (y/n)n

             0                     1
0  Let's Dance  Strawberry Shortcake
1  Let's Dance                  Five

Is it match? (y/n)n

                       0                     1
0            Let's Dance  Strawberry Shortcake
1  Let's Shut Up & Dance          Jason Derulo

Is it match? (y/n)n

                       0                     1
0            Let's Dance  Strawberry Shortcake
1  Let's Shut Up & Dance                   LAY

Is it match? (y/n)n

                       0                     1
0            Let's Dance  Strawberry Shortcake
1  Let's Shut Up & Dance               NCT 127

Is it match? (y/n)n

             0                     1
0  Let's Dance  Strawberry Shortcake
1  Let's Dance              DJ Six 9

Is it match? (y/n)n

             0                     1
0  Let's Dance  Strawberry Shortcake
1  Let's Dance                Noggin

Is it match? (y/n)n

                                                   0                     1
0                                        Let's Dance  Strawberry Shortcake
1  !Vamos a bailar! Let's Dance! The Dora the Exp...     Dora The Explorer

Is it match? (y/n)n

                                    0                     1
0                         Let's Dance  Strawberry Shortcake
1  Let's Dance Music for Ballet Class           Lisa Harris

Is it match? (y/n)n

                                                   0       1
0                                 Baby Loves Hip-Hop  Dino-5
1  Jaxen Loves Hip Hop, Baby Einstein, and Orland...    Leon

Is it match? (y/n)n

                                 0              1
0              Yo, It's Christmas!  Yo Yo Yo Kids
1  You Make It Feel Like Christmas   Gwen Stefani

Is it match? (y/n)n

                                                   0              1
0                                Yo, It's Christmas!  Yo Yo Yo Kids
1  You Make It Feel Like Christmas (Deluxe Editio...   Gwen Stefani

Is it match? (y/n)n

                      0              1
0   Yo, It's Christmas!  Yo Yo Yo Kids
1  It Must Be Christmas    Chris Young

Is it match? (y/n)n

                                      0              1
0                   Yo, It's Christmas!  Yo Yo Yo Kids
1  Kiss Me It's Christmas (feat. Ne-Yo)    Leona Lewis

Is it match? (y/n)n

                                   0              1
0                Yo, It's Christmas!  Yo Yo Yo Kids
1  It Won't Be Christmas Without You  Brooks & Dunn

Is it match? (y/n)n

                                                   0                1
0                                Yo, It's Christmas!    Yo Yo Yo Kids
1  It's Not Christmas Without You (feat. Victoria...  Victorious Cast

Is it match? (y/n)n

                                                   0              1
0                                Yo, It's Christmas!  Yo Yo Yo Kids
1  Did I Make You Cry on Christmas Day? (Well, Yo...      Peach Pit

Is it match? (y/n)n

                                 0              1
0              Yo, It's Christmas!  Yo Yo Yo Kids
1  You Make It Feel Like Christmas   Gwen Stefani

Is it match? (y/n)n

                                       0              1
0                    Yo, It's Christmas!  Yo Yo Yo Kids
1  It's Christmas And I Fucking Miss You   Charly Bliss

Is it match? (y/n)n

                                                   0              1
0                                Yo, It's Christmas!  Yo Yo Yo Kids
1  First Christmas (That I Loved You) [From The N...  Shameik Moore

Is it match? (y/n)n

                               0                   1
0  4 Kidz by Kidz: Holiday Tunez  The Kidz All-Starz
1   4 Kidz By Kidz Holiday Tunez             Karaoke

Is it match? (y/n)y

                                  0                        1
0                        Undeniable  Alvin and the Chipmunks
1  Undeniable (feat. X Ambassadors)                     Kygo

Is it match? (y/n)n

                                  0                        1
0                        Undeniable  Alvin and the Chipmunks
1  Undeniable (feat. X Ambassadors)            X Ambassadors

Is it match? (y/n)n

            0                        1
0  Undeniable  Alvin and the Chipmunks
1  Undeniable          Seckond Chaynce

Is it match? (y/n)n

            0                        1
0  Undeniable  Alvin and the Chipmunks
1  Undeniable              Josh Wilson

Is it match? (y/n)n

                                                   0                        1
0                                         Undeniable  Alvin and the Chipmunks
1  Transnational Speedway League: Anthems, Anecdo...                   Clutch

Is it match? (y/n)n

            0                        1
0  Undeniable  Alvin and the Chipmunks
1  Undeniable                  Yg Teck

Is it match? (y/n)n

            0                        1
0  Undeniable  Alvin and the Chipmunks
1  Undeniable          Stegosaurus Rex

Is it match? (y/n)n

            0                        1
0  Undeniable  Alvin and the Chipmunks
1  Undeniable         Man Made Machine

Is it match? (y/n)n

            0                        1
0  Undeniable  Alvin and the Chipmunks
1  Undeniable                   LeBron

Is it match? (y/n)n

            0                        1
0  Undeniable  Alvin and the Chipmunks
1  Undeniable            Eddie Griffin

Is it match? (y/n)n

                 0                        1
0       Undeniable  Alvin and the Chipmunks
1  Undeniable Love              Charlie Rey

Is it match? (y/n)n

                  0                        1
0  A Frog Named Sam    Ben Rudnick & Friends
1  A Frog Named Sam  Ben Rudnick and Friends

Is it match? (y/n)y

                                             0                   1
0  Hot Peas 'N Butter Vol. 5: Best of the Bowl  Hot Peas 'N Butter
1   Best of the Bowl, Ingls Y spaol, Vol. 5  Hot Peas 'n Butter

Is it match? (y/n)y

                        0                 1
0  Sharing the Same Stars    Leeny & Tamara
1  Sharing the Same Stars  Leeny and Tamara

Is it match? (y/n)y

                                      0                1
0                         Cool Kind Kid  Various Artists
1  Kid Friendly Party Pop Songz, Vol. 1   The Cool Kidzz

Is it match? (y/n)n

                                 0                1
0                    Cool Kind Kid  Various Artists
1  Tanner's Manners: Cool Kind Kid      Steve Megaw

Is it match? (y/n)n

                                0                1
0                   Cool Kind Kid  Various Artists
1  Kid Friendly Pop Songz, Vol. 2   The Cool Kidzz

Is it match? (y/n)n

                                                   0                1
0                                      Cool Kind Kid  Various Artists
1  Kinder Karneval: Die coolsten Party Hits fr Kids  Various Artists

Is it match? (y/n)n

                    0                   1
0       Cool Kind Kid     Various Artists
1  Cool Kids Of Death  Cool Kids Of Death

Is it match? (y/n)n

                                              0                1
0                                 Cool Kind Kid  Various Artists
1  Die coole Kinderparty, Vol. 2 - Kinderlieder      Techno Kids

Is it match? (y/n)n

                                                0                1
0                                   Cool Kind Kid  Various Artists
1  Theme & Soundtrack Songs from Kids Movies 2014   The Cool Kidzz

Is it match? (y/n)n

                                                   0                1
0                                      Cool Kind Kid  Various Artists
1  Der groe Kinderlieder Hitmix - 40 coole Hits ...  Various Artists

Is it match? (y/n)n

                               0                1
0                  Cool Kind Kid  Various Artists
1  Die coole Kinderparty, Vol. 1      Techno Kids

Is it match? (y/n)n

                                0                1
0                   Cool Kind Kid  Various Artists
1  Kinderlieder Echt cool, Vol. 1        Pila Kids

Is it match? (y/n)n

                    0                    1
0  Making Silly Faces         Nick Deysher
1  Making Silly Faces  In The Nick of Time

Is it match? (y/n)n

                                          0                1
0  SpongeBob SquarePants: The Best Day Ever  Various Artists
1   SpongeBob SquarePants The Best Day Ever  Various Artists

Is it match? (y/n)y

                 0                            1
0  Friends Forever  Carrie Lyn, Michael Bannett
1  Friends Forever                    Mr. Jello

Is it match? (y/n)n

                      0                            1
0       Friends Forever  Carrie Lyn, Michael Bannett
1  Best Friends Forever                The Fun Squad

Is it match? (y/n)n

                                       0                            1
0                        Friends Forever  Carrie Lyn, Michael Bannett
1  Friends Forever (Spirit: Riding Free)                  Amber Frank

Is it match? (y/n)n

                                       0                            1
0                        Friends Forever  Carrie Lyn, Michael Bannett
1  Friends Forever (Spirit: Riding Free)                  Sydney Park

Is it match? (y/n)n

                                       0                            1
0                        Friends Forever  Carrie Lyn, Michael Bannett
1  Friends Forever (Spirit: Riding Free)          Bailey Gambertoglio

Is it match? (y/n)n

                 0                            1
0  Friends Forever  Carrie Lyn, Michael Bannett
1  Friends Forever                   Wander Sky

Is it match? (y/n)n

                 0                            1
0  Friends Forever  Carrie Lyn, Michael Bannett
1  Friends Forever                       Palace

Is it match? (y/n)n

,0,1
0,Friends Forever,"Carrie Lyn, Michael Bannett"
1,Furry Friends Forever: Elmo Gets a Puppy (Orig...,Sesame Street

Is it match? (y/n)n

                 0                            1
0  Friends Forever  Carrie Lyn, Michael Bannett
1  Friends Forever              Various Artists

Is it match? (y/n)n

                                     0                            1
0                      Friends Forever  Carrie Lyn, Michael Bannett
1  The BFF Song (Best Friends Forever)                 LEGO Friends

Is it match? (y/n)n

                 0                            1
0  Friends Forever  Carrie Lyn, Michael Bannett
1  Friends Forever       Queens of the Universe

Is it match? (y/n)n

                 0                            1
0  Friends Forever  Carrie Lyn, Michael Bannett
1  Forever Friends                 Janie Becker

Is it match? (y/n)n

                                      0                1
0               Brother Bear Soundtrack  Various Artists
1  Brother Bear 2 (Original Soundtrack)     Dave Metzger

Is it match? (y/n)n

                                      0                  1
0               Brother Bear Soundtrack    Various Artists
1  Brother Bear 2 (Original Soundtrack)  Melissa Etheridge

Is it match? (y/n)n

                                      0                1
0               Brother Bear Soundtrack  Various Artists
1  Brother Bear 2 (Original Soundtrack)      Josh Kelley

Is it match? (y/n)n

                  0                              1
0  Casey at the Bat  London Philharmonic Orchestra
1  Casey at the Bat                  Roderic Reece

Is it match? (y/n)n

                                 0              1
0  Class of 3000: Music Volume One     Andre 3000
1                 Music Volume One  Class Of 3000

Is it match? (y/n)y

                0                1
0  Girl Authority  Various Artists
1  Girl Authority   Girl Authority

Is it match? (y/n)y

,0,1
0,Beethoven's Wig 3: Many More Sing Along Sympho...,Richard Perlmutter with Symphonies & Singers
1,Beethoven's Wig 3: Many More Sing Along Sympho...,Beethoven's Wig

Is it match? (y/n)y

,0,1
0,Beethoven's Wig: Sing Along Symphonies,Richard Perlmutter with Symphonies & Singers
1,Beethoven's Wig: Sing Along Symphonies,Beethoven's Wig

Is it match? (y/n)y

                         0                         1
0    Free to Be You and Me  Marlo Thomas and Friends
1  Free To Be...You And Me    Marlo Thomas & Friends

Is it match? (y/n)y

,0,1
0,Rough Guide to Latin Music for Children,Rough Guide Latin Music for Children
1,Rough Guide To Latin Music For Children (2nd E...,Various Artists

Is it match? (y/n)y

,0,1
0,Beethoven's Wig 2: More Sing-Along Symphonies,Richard Perlmutter with Symphonies & Singers
1,Beethoven's Wig 2: More Sing Along Symphonies,Beethoven's Wig

Is it match? (y/n)y

                  0            1
0   Yes to Running!  Bill Harley
1  Running On Empty   Yes to Yes

Is it match? (y/n)n

,0,1
0,Beethoven's Wig 4: Dance Along Symphonies,Richard Perlmutter with Symphonies & Singers
1,Beethoven's Wig 4: Dance Along Symphonies,Beethoven's Wig

Is it match? (y/n)y
Processing 400th row.  Time elapsed: 31.57 minutes. Found 61 singles.

                  0                                            1
0  Banjo to Beatbox  Cathy Fink & Marcy Marxer, Christylez Bacon
1  Banjo to Beatbox    Cathy & Marcy with guest Christylez Bacon

Is it match? (y/n)y

,0,1
0,Gnomeo & Juliet Soundtrack,"Elton John, Various Artists"
1,Gnomeo and Juliet (Original Motion Picture Sou...,Various Artists

Is it match? (y/n)y

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The Tortoise And The Hare               The Art Of Noise

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1      Tortoise and the Hare                         Blanco

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1      Tortoise and the Hare                        Husalah

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1      Tortoise and the Hare                         Kokane

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The Hare and the Tortoise          Favorite Kids Stories

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The Tortoise and the Hare                       LionHead

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The Tortoise And The Hare                         SamSam

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The tortoise and the hare                    eBook Korea

Is it match? (y/n)n

                           0                                    1
0  The Tortoise and the Hare        London Philharmonic Orchestra
1  The Tortoise and the Hare  The Peter Pan Players and Orchestra

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The Tortoise and the Hare                  Philip Serino

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The Hare and the Tortoise                   Mike Bennett

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The Hare and the Tortoise                      One Media

Is it match? (y/n)n

                           0                              1
0  The Tortoise and the Hare  London Philharmonic Orchestra
1  The Tortoise And The Hare           Mizz Frankie J Beatz

Is it match? (y/n)n

                                         0                1
0    Disney Karaoke Series: Phineas & Ferb  Various Artists
1  Disney Karaoke Series: Phineas and Ferb  Various Artists

Is it match? (y/n)y

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take It Outside   Matty Z & The Brawlers

Is it match? (y/n)n

                                    0                        1
0                     Take It Outside  The Okee Dokee Brothers
1  Take It Outside (feat. Robb Bank$)                 Supa Bwe

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take It Outside                     TRIO

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take It Outside                 Tre Nyce

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take It Outside                   Djkemo

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take It Outside             Martin Kyler

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take It Outside       The Tim & Bob Show

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take It Outside          Sensible Antixx

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take It Outside           Joey Neverland

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  Take it outside               Mess Esque

Is it match? (y/n)n

                 0                        1
0  Take It Outside  The Okee Dokee Brothers
1  take it outside             Rowan Cooper

Is it match? (y/n)n

                                     0                        1
0  Phineas and Ferb: Holiday Favorites          Various Artists
1   Phineas and Ferb Holiday Favorites  Cast - Phineas and Ferb

Is it match? (y/n)y

,0,1
0,Beethoven's Wig: Sing Along Piano Classics,Richard Perlmutter with Symphonies & Singers
1,Beethoven's Wig: Sing Along Piano Classics (fe...,Beethoven's Wig

Is it match? (y/n)y

                                                  0                1
0                            The Muppets Soundtrack  Various Artists
1  The Muppets (Original Motion Picture Soundtrack)      The Muppets

Is it match? (y/n)y

              0            1
0   KinderAngst  KinderAngst
1  Kinder Angst  KinderAngst

Is it match? (y/n)y

                          0                1
0  Kidz Bop Halloween Hits!  Various Artists
1  Kidz Bop Halloween Hits!    Kidz Bop Kids

Is it match? (y/n)y

                0                1
0  Superstar Kidz  Various Artists
1  Superstar Kidz   Superstar Kidz

Is it match? (y/n)y

           0                1
0  Go Figure  Various Artists
1  Go Figure  Bones & Bridges

Is it match? (y/n)y

                                                   0                1
0                                             Dev2.0           Dev2.0
1  Soul Jazz Records Presents PUNK 45: Chaos in t...  Various Artists

Is it match? (y/n)n

                         0                1
0                   Dev2.0           Dev2.0
1  Seized and Devoured 2.0  Rings of Saturn

Is it match? (y/n)n

                               0       1
0                         Dev2.0  Dev2.0
1  Devagarinho 2.0 (prod. DKVPZ)    Illy

Is it match? (y/n)n

                               0                  1
0                         Dev2.0             Dev2.0
1  Devagarinho 2.0 (prod. DKVPZ)  Baco Exu do Blues

Is it match? (y/n)n

                               0                1
0                         Dev2.0           Dev2.0
1  Devagarinho 2.0 (prod. DKVPZ)  Arnaldo Antunes

Is it match? (y/n)n

          0         1
0    Dev2.0    Dev2.0
1  Devo 2.0  Devo 2.0

Is it match? (y/n)n

                           0         1
0                     Dev2.0    Dev2.0
1  Devulveme A Mi Chica 2.0  Dr. Stev

Is it match? (y/n)n

                           0              1
0                     Dev2.0         Dev2.0
1  Devulveme A Mi Chica 2.0  Erika Perdomo

Is it match? (y/n)n

               0                1
0         Dev2.0           Dev2.0
1  '05 ()  Various Artists

Is it match? (y/n)n

           0          1
0     Dev2.0     Dev2.0
1  Devil 2.0  Ravi Teja

Is it match? (y/n)n

            0              1
0      Dev2.0         Dev2.0
1  Devdas 2.0  Karan Benipal

Is it match? (y/n)n

            0           1
0      Dev2.0      Dev2.0
1  Devdas 2.0  Deep Jandu

Is it match? (y/n)n

               0         1
0         Dev2.0    Dev2.0
1  Rap Devil 2.0  Dem0n!AK

Is it match? (y/n)n

                   0       1
0             Dev2.0  Dev2.0
1  Devil Hackers 2.0    MYAX

Is it match? (y/n)n

                   0       1
0             Dev2.0  Dev2.0
1  Devil Hackers 2.0    ADLM

Is it match? (y/n)n

           0            1
0  Superhero  Mission Six
1  Superhero         Hayd

Is it match? (y/n)n

                       0            1
0              Superhero  Mission Six
1  Superhero In My Sleep        Rival

Is it match? (y/n)n

                       0                     1
0              Superhero           Mission Six
1  Superhero In My Sleep  Asketa & Natan Chaim

Is it match? (y/n)n

           0            1
0  Superhero  Mission Six
1  Superhero         Lauv

Is it match? (y/n)n

           0              1
0  Superhero    Mission Six
1  Superhero  Unknown Brain

Is it match? (y/n)n

           0             1
0  Superhero   Mission Six
1  Superhero  Chris Linton

Is it match? (y/n)n

                                                   0                    1
0                                          Superhero          Mission Six
1  DC Super Hero Girls: Season 1 (Original Televi...  DC Super Hero Girls

Is it match? (y/n)n

           0               1
0  Superhero     Mission Six
1  Superhero  Brian McKnight

Is it match? (y/n)n

                                                   0                    1
0                                          Superhero          Mission Six
1  DC Super Hero Girls: Season 2 (Original Televi...  DC Super Hero Girls

Is it match? (y/n)n

           0                        1
0  Superhero              Mission Six
1  Superhero  The Laurie Berkner Band

Is it match? (y/n)n

           0             1
0  Superhero   Mission Six
1  Superhero  Elektronomia

Is it match? (y/n)n

           0              1
0  Superhero    Mission Six
1  Superhero  Stephen Lynch

Is it match? (y/n)n

                           0                      1
0  SpongeBob's Greatest Hits        Various Artists
1  SpongeBob's Greatest Hits  Spongebob Squarepants

Is it match? (y/n)y

                                              0                 1
0                      "There's a Place for Us"  Carrie Underwood
1  There's A Place For Us: The Unreleased Album      The Supremes

Is it match? (y/n)n

                          0                 1
0  "There's a Place for Us"  Carrie Underwood
1    There's a Place for Us     Nadine Sierra

Is it match? (y/n)n

                          0                             1
0  "There's a Place for Us"              Carrie Underwood
1    There's a Place for Us  Royal Philharmonic Orchestra

Is it match? (y/n)n

                          0                 1
0  "There's a Place for Us"  Carrie Underwood
1    There's a Place for Us      Robert Spano

Is it match? (y/n)n

                                                   0                 1
0                           "There's a Place for Us"  Carrie Underwood
1  Somewhere [There's a Place for Us (Cello Versi...         Sarah Joy

Is it match? (y/n)n

                          0                      1
0  "There's a Place for Us"       Carrie Underwood
1    There's A Place For Us  Girls of the Internet

Is it match? (y/n)n

                          0                 1
0  "There's a Place for Us"  Carrie Underwood
1    There's A Place For Us         Tableland

Is it match? (y/n)n

                                                   0                 1
0                           "There's a Place for Us"  Carrie Underwood
1  There's A Place For Us (Bonus Track from The C...            E.M.D.

Is it match? (y/n)n

                                 0                 1
0         "There's a Place for Us"  Carrie Underwood
1  There Used To Be A Place For Us  Save Your Breath

Is it match? (y/n)n

                                    0                 1
0            "There's a Place for Us"  Carrie Underwood
1  Somewhere (There's a Place for Us)         Jakub Ny

Is it match? (y/n)n

                          0                 1
0  "There's a Place for Us"  Carrie Underwood
1   There Is a Place for Us   Various Artists

Is it match? (y/n)n

                          0                 1
0  "There's a Place for Us"  Carrie Underwood
1   There Is a Place for Us       Freddy Abbo

Is it match? (y/n)n

                                0                 1
0        "There's a Place for Us"  Carrie Underwood
1  There's a place in hell for us          GoodName

Is it match? (y/n)n

                                  0             1
0  "Tell Me Something I Don't Know"  Selena Gomez
1    tell me something i don't know       J-Reyez

Is it match? (y/n)n

                                  0             1
0  "Tell Me Something I Don't Know"  Selena Gomez
1  Tell Me Something (I Don't Know)          Otto

Is it match? (y/n)n

                                           0             1
0           "Tell Me Something I Don't Know"  Selena Gomez
1  Tell Me Something I Don't Know (5 tracks)   Herman Dne

Is it match? (y/n)n

                                  0             1
0  "Tell Me Something I Don't Know"  Selena Gomez
1    Tell Me Something I Dont Know  Ryelee James

Is it match? (y/n)n

                                  0             1
0  "Tell Me Something I Don't Know"  Selena Gomez
1    Tell Me Something I Don't Know    Jeff Engle

Is it match? (y/n)n

                                  0                  1
0  "Tell Me Something I Don't Know"       Selena Gomez
1    Tell Me Something I Don't Know  Danny TSG Humayne

Is it match? (y/n)n

                                  0              1
0  "Tell Me Something I Don't Know"   Selena Gomez
1    Tell Me Something I Don't Know  Shay Costello

Is it match? (y/n)n

                                  0             1
0  "Tell Me Something I Don't Know"  Selena Gomez
1    Tell Me Something I Don't Know          Chez

Is it match? (y/n)n

                                  0             1
0  "Tell Me Something I Don't Know"  Selena Gomez
1    Tell Me Something I Don't Know      Hightail

Is it match? (y/n)n

                                  0             1
0  "Tell Me Something I Don't Know"  Selena Gomez
1    Tell Me Something I Don't Know       GROWERS

Is it match? (y/n)n

                     0                 1
0       Stand (single)       Tylar Brock
1  Yike Stand - Single  Priceless Da Roc

Is it match? (y/n)n

                               0               1
0                 Stand (single)     Tylar Brock
1  One Night Stand (Single Edit)  Jeffrey Heesen

Is it match? (y/n)n

                                     0            1
0                       Stand (single)  Tylar Brock
1  No More Sad Face (Standard Version)  Single File

Is it match? (y/n)n

                                         0            1
0                           Stand (single)  Tylar Brock
1  Stand on the Word (Mima Remix) - Single        Keedz

Is it match? (y/n)n

                   0            1
0     Stand (single)  Tylar Brock
1  Stand Up - Single   Coco Jones

Is it match? (y/n)n

                  0            1
0    Stand (single)  Tylar Brock
1  Standup (single)    Stromkern

Is it match? (y/n)n

                              0            1
0                Stand (single)  Tylar Brock
1  Stand For Something - Single        Keida

Is it match? (y/n)n

                                    0            1
0                      Stand (single)  Tylar Brock
1  Stand Firm (feat. Sizzla) - Single       J Boog

Is it match? (y/n)n

                                     0                      1
0                       Stand (single)            Tylar Brock
1  You Can't Stand Next To Us - Single  Friendly Neighborhood

Is it match? (y/n)n

                             0            1
0               Stand (single)  Tylar Brock
1  From Where I Stand (Single)   Epicstaxis

Is it match? (y/n)n

                                                0                1
0   Disney Karaoke Series: Disney Channel, Vol. 1  Various Artists
1  Disney Karaoke Series: Disney Channel Volume 1  Various Artists

Is it match? (y/n)y

                                                   0                      1
0  Alvin and the Chipmunks: The Squeakquel Soundt...        Various Artists
1  Alvin and the Chipmunks: The Squeakquel (Origi...  Alvin & The Chipmunks

Is it match? (y/n)y

                                                   0              1
0                          Big Time Movie Soundtrack  Big Time Rush
1  A Time to Kheal (Blood Billz The Movie Soundtr...        Big Lew

Is it match? (y/n)n

                  0                       1
0  Holes Soundtrack         Various Artists
1             Holes  Soundtrack of a Summer

Is it match? (y/n)n

                                           0                1
0  American Idol: Season 4: The Showstoppers  Various Artists
1   American Idol Season 4: The Showstoppers  Various Artists

Is it match? (y/n)y

                                                   0                1
0  American Idol: Season 2: All-Time Classic Amer...  Various Artists
1  American Idol Season 2: All Time Classic Ameri...  Various Artists

Is it match? (y/n)y

                                           0                          1
0                                Genie Magic        Bratz, Lauren Evans
1  Magic Genie (Music Inspired by the Movie)  Riverfront Studio Singers

Is it match? (y/n)n

             0                    1
0  Genie Magic  Bratz, Lauren Evans
1  Magic Genie                 B-lo

Is it match? (y/n)n

             0                    1
0  Genie Magic  Bratz, Lauren Evans
1  Magic Genie                   Ro

Is it match? (y/n)n

                       0                    1
0            Genie Magic  Bratz, Lauren Evans
1  Genie in Magical Lamp      Various Artists

Is it match? (y/n)n

                               0                    1
0                    Genie Magic  Bratz, Lauren Evans
1  Aladdin And the Magical Genie   Kim Mitzo Thompson

Is it match? (y/n)n

                               0                    1
0                    Genie Magic  Bratz, Lauren Evans
1  Aladdin And the Magical Genie   Kim Mitzo Thompson

Is it match? (y/n)n

                               0                      1
0                    Genie Magic    Bratz, Lauren Evans
1  Aladdin And the Magical Genie  Nashville Kids' Sound

Is it match? (y/n)n

                                                   0                    1
0                                        Genie Magic  Bratz, Lauren Evans
1  Hazelonis! The Glorious Magician! And Hushande...          Bruce Moore

Is it match? (y/n)n

                      0                    1
0           Genie Magic  Bratz, Lauren Evans
1  Merchant & The Genie             Magicbox

Is it match? (y/n)n

               0                    1
0    Genie Magic  Bratz, Lauren Evans
1  Life In Magic         Ken La Genie

Is it match? (y/n)n

             0                    1
0  Genie Magic  Bratz, Lauren Evans
1   Heartifact   Magic Heart Genies

Is it match? (y/n)n

                0                    1
0     Genie Magic  Bratz, Lauren Evans
1  Cardiac Arrest   Magic Heart Genies

Is it match? (y/n)n

                                                   0                1
0  iCarly: Music From and Inspired by the Hit TV ...  Various Artists
1  iCarly - Music From and Inspired by the Hit TV...      iCarly Cast

Is it match? (y/n)y

               0           1
0  Into the Rush  Aly and AJ
1  Into The Rush    Aly & AJ

Is it match? (y/n)y

                      0                1
0  That's So Raven Too!  Various Artists
1  That's So Raven Too!     Raven-Symon

Is it match? (y/n)y

                                  0                        1
0  American Idol: Season 5: Encores          Various Artists
1    American Idol Season 5 Encores  American Idol Finalists

Is it match? (y/n)y

                                        0                                1
0             Superman Returns Soundtrack  Damon Intrabartolo, John Ottman
1  Superman Returns (Original Soundtrack)                   Colin O'Malley

Is it match? (y/n)y

              0             1
0  Clique Girlz  Clique Girlz
1    Incredible  Clique Girlz

Is it match? (y/n)n

                       0             1
0           Clique Girlz  Clique Girlz
1  Incredible (Acoustic)  Clique Girlz

Is it match? (y/n)n

                                        0                1
0                       Robots Soundtrack  Various Artists
1  Return All Robots! Original Soundtrack           zircon

Is it match? (y/n)n

                                                   0                1
0                                  Robots Soundtrack  Various Artists
1  Lost in Space, Vol. 3: Welcome Stranger / My F...  Various Artists

Is it match? (y/n)n

                                       0                     1
0                      Robots Soundtrack       Various Artists
1  E.V.I.L. Robots (Original Soundtrack)  Todd Stewart Coleman

Is it match? (y/n)n

                                   0                1
0                  Robots Soundtrack  Various Artists
1  Robots: The Exhibition Soundtrack     Coda to Coda

Is it match? (y/n)n

                                   0                1
0                  Robots Soundtrack  Various Artists
1  Robots: The Exhibition Soundtrack      Sam Britton

Is it match? (y/n)n

                                   0                1
0                  Robots Soundtrack  Various Artists
1  Robots: The Exhibition Soundtrack     Will Worsley

Is it match? (y/n)n

                                      0                1
0                     Robots Soundtrack  Various Artists
1  Robots of Kill (Original Soundtrack)   Jyri Luukkonen

Is it match? (y/n)n

                                             0                1
0                            Robots Soundtrack  Various Artists
1  A Robot's Best Friend (Original Soundtrack)   Eddie Coldrick

Is it match? (y/n)n

                                                   0                      1
0                                  Robots Soundtrack        Various Artists
1  Little Lost Robots: The Little Lost Soundtrack...  Daniel Docherty Music

Is it match? (y/n)n

                                                   0                  1
0                                  Robots Soundtrack    Various Artists
1  Robots Cry Too (Original Motion Picture Soundt...  Sergey Dostovalov

Is it match? (y/n)n

                                                   0                1
0                                  Robots Soundtrack  Various Artists
1  Cyber City Mutant Robots (Original Game Soundt...   HYPNOTIC GAMES

Is it match? (y/n)n

                                                   0                   1
0                                  Robots Soundtrack     Various Artists
1  Attack of the Petscii Robots! (Original Game S...  Noelle Amelie Aman

Is it match? (y/n)n

                 0         1
0  More Than Words    Menudo
1  More Than Words  Sykomori

Is it match? (y/n)n

                 0               1
0  More Than Words          Menudo
1  More Than Words  Brian McKnight

Is it match? (y/n)n

                        0       1
0         More Than Words  Menudo
1  More Than Words Heaven   Flans

Is it match? (y/n)n

                        0         1
0         More Than Words    Menudo
1  More Than Words Heaven  Ada Band

Is it match? (y/n)n

                        0           1
0         More Than Words      Menudo
1  More Than Words Heaven  Luny Tunes

Is it match? (y/n)n

                 0               1
0  More Than Words          Menudo
1  More Than Words  Joseph Vincent

Is it match? (y/n)n

                                   0          1
0                    More Than Words     Menudo
1  More Than Words (English Version)  Frankie J

Is it match? (y/n)n

                              0            1
0               More Than Words       Menudo
1  More Than Words (feat. MNEK)  Sleepwalkrs

Is it match? (y/n)n

                              0       1
0               More Than Words  Menudo
1  More Than Words (feat. MNEK)    MNEK

Is it match? (y/n)n

                 0             1
0  More Than Words        Menudo
1  More Than Words  Culture Code

Is it match? (y/n)n

                 0       1
0  More Than Words  Menudo
1  More Than Words    RRY

Is it match? (y/n)n

                                                 0            1
0                                  More Than Words       Menudo
1  More Than Words (feat. MNEK) [Oliver Mac Remix]  Sleepwalkrs

Is it match? (y/n)n

                                                 0       1
0                                  More Than Words  Menudo
1  More Than Words (feat. MNEK) [Oliver Mac Remix]    MNEK

Is it match? (y/n)n

                                                 0           1
0                                  More Than Words      Menudo
1  More Than Words (feat. MNEK) [Oliver Mac Remix]  Oliver Mac

Is it match? (y/n)n

                 0               1
0  More Than Words          Menudo
1  More Than Words  Raphael Tocard

Is it match? (y/n)n

                 0       1
0  More Than Words  Menudo
1  More Than Words  Stract

Is it match? (y/n)n

                    0                    1
0           OMG! Jams       Ashley Tisdale
1  If I Was You (OMG)  Ultimate Party Jams

Is it match? (y/n)n

                           0                                  1
0      Victorious Soundtrack  Various Artists, Victoria Justice
1  Victorious the Soundtrack                      Tyrone Briggs

Is it match? (y/n)y

                        0               1
0  Hold on 'Til the Night  Greyson Chance
1  Hold On Til The Night  Greyson Chance

Is it match? (y/n)y

                                                   0                1
0            Titanic (Music from the Motion Picture)  Various Artists
1  Titanic: Music from the Motion Picture Soundtrack     James Horner

Is it match? (y/n)y

                                                  0                 1
0  Victorious 2.0 (More Music from the Hit TV Show)  Victoria Justice
1   Victorious 2.0: More Music From The Hit TV Show   Victorious Cast

Is it match? (y/n)y

                                             0                1
0   Queen of Soul: The Best of Aretha Franklin  Aretha Franklin
1  Queen of Soul - The Best of Aretha Franklin  Aretha Franklin

Is it match? (y/n)y

                 0             1
0  This Is My Time  Raven-Symone
1  This is My Time        Lecrae

Is it match? (y/n)n

                 0             1
0  This Is My Time  Raven-Symone
1  This is My Time       Boi-1da

Is it match? (y/n)n

                 0             1
0  This Is My Time  Raven-Symone
1  This Is My Time       Mr. Don

Is it match? (y/n)n

                 0             1
0  This Is My Time  Raven-Symone
1  This Is My Time  Raven-Symon

Is it match? (y/n)y

             0           1
0  Insomniatic  Aly and AJ
1  Insomniatic    Aly & AJ

Is it match? (y/n)y

                       0              1
0  Greatest Hits: Vol. 1  Rascal Flatts
1   Greatest Hits Vol. 1         AREA21

Is it match? (y/n)y

                                 0                     1
0                   Social Studies  Rhythm Rhyme Results
1  Social Studies (Deluxe Edition)         Body Language

Is it match? (y/n)n

                0                     1
0  Social Studies  Rhythm Rhyme Results
1  Social Studies         Body Language

Is it match? (y/n)n

                                 0                     1
0                   Social Studies  Rhythm Rhyme Results
1  Social Studies (Deluxe Edition)         Body Language

Is it match? (y/n)n

                0                      1
0  Social Studies   Rhythm Rhyme Results
1  Social Studies  Loudon Wainwright III

Is it match? (y/n)n

                                                  0                     1
0                                    Social Studies  Rhythm Rhyme Results
1  Social Studies: an Introduction to Charles Atlas         Charles Atlas

Is it match? (y/n)n

                0                     1
0  Social Studies  Rhythm Rhyme Results
1       Developer        Social Studies

Is it match? (y/n)n

                0                     1
0  Social Studies  Rhythm Rhyme Results
1  Social Studies   The Carla Bley Band

Is it match? (y/n)n

                0                     1
0  Social Studies  Rhythm Rhyme Results
1            Wake        Social Studies

Is it match? (y/n)n

                0                     1
0  Social Studies  Rhythm Rhyme Results
1  Social Studies       Classic Stepdad

Is it match? (y/n)n

                0                     1
0  Social Studies  Rhythm Rhyme Results
1  SOCIAL STUDIES          Marcey Yates

Is it match? (y/n)n

                         0                     1
0                     Math  Rhythm Rhyme Results
1  The Marshall Mathers LP                Eminem

Is it match? (y/n)n

                                                0                     1
0                                            Math  Rhythm Rhyme Results
1  50 Cool Math Songs and Games for Kids to Learn    Cool Math for Kids

Is it match? (y/n)n

                                   0                     1
0                               Math  Rhythm Rhyme Results
1  The Marshall Mathers LP2 (Deluxe)                Eminem

Is it match? (y/n)n

      0                     1
0  Math  Rhythm Rhyme Results
1  Math            Bukka Jatt

Is it match? (y/n)n

      0                     1
0  Math  Rhythm Rhyme Results
1  Math                Abraam

Is it match? (y/n)n

                          0                     1
0                      Math  Rhythm Rhyme Results
1  The Marshall Mathers LP2                Eminem

Is it match? (y/n)n

      0                     1
0  Math  Rhythm Rhyme Results
1  Math                  QUIN

Is it match? (y/n)n

                0                     1
0            Math  Rhythm Rhyme Results
1  Time Adventure        MathematicPony

Is it match? (y/n)n

                                  0                     1
0                              Math  Rhythm Rhyme Results
1  Christmas Eve With Johnny Mathis         Johnny Mathis

Is it match? (y/n)n

      0                     1
0  Math  Rhythm Rhyme Results
1  Math                 Fargo

Is it match? (y/n)n

                   0                     1
0               Math  Rhythm Rhyme Results
1  Mathieu Boogaerts     Mathieu Boogaerts

Is it match? (y/n)n

                 0                     1
0          Science  Rhythm Rhyme Results
1  Science & Faith            The Script

Is it match? (y/n)n

                                0                     1
0                         Science  Rhythm Rhyme Results
1  Science Wars (Acapella Parody)           AsapSCIENCE

Is it match? (y/n)n

                 0                     1
0          Science  Rhythm Rhyme Results
1  Science Fiction             Brand New

Is it match? (y/n)n

               0                     1
0        Science  Rhythm Rhyme Results
1  Science Class                  Loni

Is it match? (y/n)n

                 0                     1
0          Science  Rhythm Rhyme Results
1  Science Fiction       Jonathan Thulin

Is it match? (y/n)n

                                  0                     1
0                           Science  Rhythm Rhyme Results
1  Anthology: The Sounds Of Science          Beastie Boys

Is it match? (y/n)n

         0                     1
0  Science  Rhythm Rhyme Results
1  Science              Robotaki

Is it match? (y/n)n

,0,1
0,Science,Rhythm Rhyme Results
1,Portal 2: Songs to Test By (Collectors Edition),Aperture Science Psychoacoustic Laboratories

Is it match? (y/n)n

         0                     1
0  Science  Rhythm Rhyme Results
1  Science    Science from Above

Is it match? (y/n)n

                0                     1
0         Science  Rhythm Rhyme Results
1  S.C.I.E.N.C.E.               Incubus

Is it match? (y/n)n

               0                     1
0  Language Arts  Rhythm Rhyme Results
1  Language Arts      Vivid Scientific

Is it match? (y/n)n

               0                     1
0  Language Arts  Rhythm Rhyme Results
1  Language Arts                 Zay-V

Is it match? (y/n)n

                   0                     1
0      Language Arts  Rhythm Rhyme Results
1  Applied Knowledge    Language Arts Crew

Is it match? (y/n)n

                     0                     1
0        Language Arts  Rhythm Rhyme Results
1  I Shot the Shepherd    Language Arts Crew

Is it match? (y/n)n

                    0                     1
0       Language Arts  Rhythm Rhyme Results
1  Language Arts Unit         Rhys Langston

Is it match? (y/n)n

                                  0                     1
0                     Language Arts  Rhythm Rhyme Results
1  1st Grade Math and Language Arts       Rock 2 the Core

Is it match? (y/n)n

                                0                     1
0                   Language Arts  Rhythm Rhyme Results
1  Little Songs for Language Arts          Heidi Butkus

Is it match? (y/n)n

                                   0                     1
0                      Language Arts  Rhythm Rhyme Results
1  Mega Ran in Language Arts, Vol 1.              Mega Ran

Is it match? (y/n)n

               0                     1
0  Language Arts  Rhythm Rhyme Results
1  Language Arts               Lojique

Is it match? (y/n)n

                                  0                     1
0                     Language Arts  Rhythm Rhyme Results
1  Mega Ran in Language Arts, Vol 3              Mega Ran

Is it match? (y/n)n

               0                     1
0  Language Arts  Rhythm Rhyme Results
1    Able Island         Language Arts

Is it match? (y/n)n

                                               0          1
0   Glee: The Music, The Christmas Album, Vol. 2  Glee Cast
1  Glee: The Music, The Christmas Album Volume 2  Glee Cast

Is it match? (y/n)y

            0            1
0        Demo  Demi Lovato
1  Demon Days     Gorillaz

Is it match? (y/n)n

                 0            1
0             Demo  Demi Lovato
1  Fighting Demons   Juice WRLD

Is it match? (y/n)n

                               0            1
0                           Demo  Demi Lovato
1  Demon Slayer: Epic Collection   Samuel Kim

Is it match? (y/n)n

            0             1
0        Demo   Demi Lovato
1  Demon High  Lil Uzi Vert

Is it match? (y/n)n

                      0            1
0                  Demo  Demi Lovato
1  Dark Lane Demo Tapes        Drake

Is it match? (y/n)n

      0            1
0  Demo  Demi Lovato
1  Demo   Fleshwater

Is it match? (y/n)n

      0            1
0  Demo  Demi Lovato
1  Demo     Old Gray

Is it match? (y/n)n

                     0            1
0                 Demo  Demi Lovato
1  Demons and Monsters     347aidan

Is it match? (y/n)n

                                         0            1
0                                     Demo  Demi Lovato
1  Sin Miedo (del Amor y Otros Demonios)    Kali Uchis

Is it match? (y/n)n

      0              1
0  Demo    Demi Lovato
1  Demo  Prison Affair

Is it match? (y/n)n

                                                   0                1
0  The Twilight Saga: Breaking Dawn, Part 1 Sound...  Various Artists
1  The Twilight Saga: Breaking Dawn - Part 1 (Ori...  Various Artists

Is it match? (y/n)y

                                                   0                1
0  The Twilight Saga: Breaking Dawn, Part 2 Sound...  Various Artists
1  The Twilight Saga: Breaking Dawn - Part 2 (Ori...  Various Artists

Is it match? (y/n)y

,0,1
0,West Side Story Soundtrack,Various Artists
1,West Side Story (Original Motion Picture Sound...,West Side Story Cast 2021

Is it match? (y/n)y

                                                   0                1
0                                          Top Pop 2  Various Artists
1  2013 Top Hot Songs: Electro Pop & Dance Music ...  Various Artists

Is it match? (y/n)n

                                        0                1
0                               Top Pop 2  Various Artists
1  EDM 2018 - Top 28 Pop Dance Club Music  Various Artists

Is it match? (y/n)n

                           0                1
0                  Top Pop 2  Various Artists
1  Top Pop Hits Remixed 2016  Various Artists

Is it match? (y/n)n

                                0                1
0                       Top Pop 2  Various Artists
1  Top 40 Pop Hits! Best of 2000s  Various Artists

Is it match? (y/n)n

                                                   0                1
0                                          Top Pop 2  Various Artists
1  Top 20 Kids Pop Chart Hits - The Very Best Chi...  Kids Party DJ's

Is it match? (y/n)n

                                       0                1
0                              Top Pop 2  Various Artists
1  2021 Top 50 Pop Workout Hits! Remixed  Various Artists

Is it match? (y/n)n

                         0                1
0                Top Pop 2  Various Artists
1  Latin Pop A Tope Vol. 2  Various Artists

Is it match? (y/n)n

                                                   0                1
0                                          Top Pop 2  Various Artists
1  Summer Dance 2015 Beach Party Now (Playlist & ...  Various Artists

Is it match? (y/n)n

                                                   0                1
0                                          Top Pop 2  Various Artists
1  Epic EDM 2022 (Best Remixes of Popular Songs 2...  Various Artists

Is it match? (y/n)n

                                                 0                           1
0                                        Top Pop 2             Various Artists
1  Top 20 Classic Pop Songs on Instrumental Guitar  The O'Neill Brothers Group

Is it match? (y/n)n

                 0                1
0  Los Lonely Boys   Los Lonelyboys
1  Los Lonely Boys  Los Lonely Boys

Is it match? (y/n)y
Processing 800th row.  Time elapsed: 39.49 minutes. Found 94 singles.

                                      0            1
0                        The Beatles: 1  The Beatles
1  The Beatles 1967 - 1970 (Remastered)  The Beatles

Is it match? (y/n)n

                0            1
0  The Beatles: 1  The Beatles
1  1 (Remastered)  The Beatles

In [167]:
albums_id_3 = pd.DataFrame(results,columns=['Album_Name','Artist','Track_ID','Track_Name_Spotify','Artists_Spotify'])

In [12]:
#albums_id_3.to_csv("./data/albums_id_3.csv", index=False)

albums_id_3 = pd.read_csv("./data/albums_id_3.csv")

albums_id_3.sample(3)

,Album_Name,Artist,Track_ID,Track_Name_Spotify,Artists_Spotify
34,Welcome to the Village,"Aaron Nigel Smith, One World Chorus",0GJLKSh0xldiGuFRFE6VG3,Welcome to the Village!,['Aaron Nigel Smith & One World Chorus']
6,Swing Around the World,Various Artists,1X70XfhXt2okvamjvuZXVK,Swing Around the World,['Fleur Seule']
0,World Party!,Various Artists,6yRkvrlMyH6xE6mTzLXomz,World Party,['Goodie Mob']

In [13]:
results = []
t1 = time.time()

found = albums_id_1[['Album_Name','Artist']].values.tolist() + albums_id_2[['Album_Name','Artist']].values.tolist()
found += singles_id_1[['Album_Name', 'Artist']].values.tolist()
found += albums_id_3[['Album_Name','Artist']].values.tolist()

print (f"Found {len(found)} albums; {len(album_ratings)-len(found)} albums not found yet.")

Found 1745 albums; 461 albums not found yet.

In [ ]:
for (i, row) in album_ratings[200:].iterrows():
    
    if i%400 ==0 :
        time_elapsed = (time.time()-t1)/60
        print (f"Processing {i}th row.  Time elapsed: {time_elapsed:.2f} minutes. Found {len(results)} singles.")
        
    album_name, artist_name = row.Title, row.Artist
    
    if ([album_name, artist_name] not in found) and ('cd single' not in album_name.lower()):  
        result = search_album(album_name, artist_name, loose_query = True, manual_match = True)
        if result: 
            results.append((album_name, artist_name, *result))
        
    
print (f"Semi-manually Found {len(results)} albums.")

albums_id_4 = pd.DataFrame(results,columns=['Album_Name','Artist','Track_ID','Track_Name_Spotify','Artists_Spotify'])

                                                   0                   1
query input                              Santa Songs          Hullabaloo
output       Santa Shark & More Kids Christmas Songs  Super Simple Songs

Is it match? (y/n)n

                       0           1
query input  Santa Songs  Hullabaloo
output       Santa Songs    Dan Crow

Is it match? (y/n)n

                                                             0             1
query input                                        Santa Songs    Hullabaloo
output       Red Dress Special - Pow-Wow Songs Recorded Liv...  Young Spirit

Is it match? (y/n)n

                       0            1
query input  Santa Songs   Hullabaloo
output       Santa Songs  Bryan Gallo

Is it match? (y/n)n

                                                     0               1
query input                                Santa Songs      Hullabaloo
output       Birgit Nilsson's Greatest Songs and Arias  Birgit Nilsson

Is it match? (y/n)n

,0,1
query input,Santa Songs,Hullabaloo
output,The Night Before Christmas & When Santa Got St...,Songs For Children

Is it match? (y/n)n

                                             0                           1
query input                        Santa Songs                  Hullabaloo
output       Christmas Party Songs: Santa Baby  The O'Neill Brothers Group

Is it match? (y/n)n

                       0                      1
query input  Santa Songs             Hullabaloo
output       Drunk Santa  Funny Christmas Songs

Is it match? (y/n)n

,0,1
query input,Santa Songs,Hullabaloo
output,Rosa das rosas: Cantigas de Santa Maria & Othe...,The Rose Ensemble

Is it match? (y/n)n

                                                             0              1
query input                                        Santa Songs     Hullabaloo
output       Rosa das rosas: Cantigas de Santa Maria & Othe...  Jordan Sramek

Is it match? (y/n)n

                                         0                            1
query input                    Santa Songs                   Hullabaloo
output       Santa Claus Is Coming To Town  Nursery Rhymes & Kids Songs

Is it match? (y/n)n

                                         0                         1
query input                    Santa Songs                Hullabaloo
output       Santa Claus Is Coming To Town  Holiday Songs by Lullify

Is it match? (y/n)n

                                   0                1
query input         Everyday Grooves  Various Artists
output       Smooth Everyday Grooves           Lefamu

Is it match? (y/n)n

                                                        0                1
query input                              Everyday Grooves  Various Artists
output       Everyday Grooves from the Fred Rogers Center        Adam Blau

Is it match? (y/n)n

,0,1
query input,Everyday Grooves,Various Artists
output,Cheerful and Cool Jazz Grooves: Instrumental J...,Everyday Jazz Academy

Is it match? (y/n)n

                                  0              1
query input             I'm Growing  Gunnar Madsen
output       I Think I'm Growing Up     Abby Siler

Is it match? (y/n)n

                                    0              1
query input               I'm Growing  Gunnar Madsen
output       Growing Up Is Killing Me          Veara

Is it match? (y/n)n

                                                  0               1
query input                             I'm Growing   Gunnar Madsen
output       I'm Growing Old With You (I feel like)  Apollo Fox 200

Is it match? (y/n)n

,0,1
query input,I'm Growing,Gunnar Madsen
output,Glorious Rainmood - Nature Music for Growing Kids,Various Artists

Is it match? (y/n)n

                       0                  1
query input  I'm Growing      Gunnar Madsen
output        Growing In  I Can Make A Mess

Is it match? (y/n)n

                             0              1
query input        I'm Growing  Gunnar Madsen
output       Growing Into More          Oruko

Is it match? (y/n)n

,0,1
query input,I'm Growing,Gunnar Madsen
output,Little Genius: Classical Music for Growing Bra...,Various Artists

Is it match? (y/n)n

,0,1
query input,I'm Growing,Gunnar Madsen
output,Christian Meditation: Renew Your Mind In Him,Growing Prosperity Productions

Is it match? (y/n)n

                                   0                   1
query input              I'm Growing       Gunnar Madsen
output       Growing Up Is For Trees  I'm From Barcelona

Is it match? (y/n)n

                                                           0                1
query input                                      I'm Growing    Gunnar Madsen
output       Cheerfully Growing - Spiritual Meditation Music  Various Artists

Is it match? (y/n)n

                                    0             1
query input  Listen to the Music Band  David Grover
output            Listen To The Music      JAR Band

Is it match? (y/n)n

                                    0                  1
query input  Listen to the Music Band       David Grover
output            Listen to the Music  Aspen Meadow Band

Is it match? (y/n)n

                                    0                       1
query input  Listen to the Music Band            David Grover
output            Listen to the Music  Teddy & The Conga Band

Is it match? (y/n)n

                                      0                       1
query input    Listen to the Music Band            David Grover
output       Listen to the Music Vol. 2  Teddy & The Conga Band

Is it match? (y/n)n

                                      0                       1
query input    Listen to the Music Band            David Grover
output       Listen to the Music Vol. 3  Teddy & The Conga Band

Is it match? (y/n)n

                                      0                       1
query input    Listen to the Music Band            David Grover
output       Listen to the Music Vol. 5  Teddy & The Conga Band

Is it match? (y/n)n

                                      0                       1
query input    Listen to the Music Band            David Grover
output       Listen to the Music Vol. 4  Teddy & The Conga Band

Is it match? (y/n)n

,0,1
query input,Listen to the Music Band,David Grover
output,"Lullaby Listening to the Mother's Piano, Colle...",Lullaby & Prenatal Band

Is it match? (y/n)n

,0,1
query input,Listen to the Music Band,David Grover
output,"Lullaby Listening to the Mother's Piano, Vol. ...",Lullaby & Prenatal Band

Is it match? (y/n)n

,0,1
query input,Listen to the Music Band,David Grover
output,20 The Best of Modern Blues: Relaxing Instrume...,Good City Music Band

Is it match? (y/n)n

,0,1
query input,The Fresh Beat Band: Music from the Hit TV Sho...,The Fresh Beat Band
output,The Fresh Beat Band Vol 2.0: More Music From T...,The Fresh Beat Band

Is it match? (y/n)y

                               0            1
query input         I Wanna Play  Bill Harley
output       I Wanna Play A Game       NEFFEX

Is it match? (y/n)n

                               0            1
query input         I Wanna Play  Bill Harley
output       I Wanna Play A Game     Jez Dior

Is it match? (y/n)n

                          0            1
query input    I Wanna Play  Bill Harley
output       You Wanna Play       Sucree

Is it match? (y/n)n

                          0            1
query input    I Wanna Play  Bill Harley
output       You Wanna Play  Ially Mazza

Is it match? (y/n)n

                          0            1
query input    I Wanna Play  Bill Harley
output       You Wanna Play  Rafa Ziller

Is it match? (y/n)n

                                           0               1
query input                     I Wanna Play     Bill Harley
output       I Wanna Play For You (Complete)  Stanley Clarke

Is it match? (y/n)n

                                0               1
query input          I Wanna Play     Bill Harley
output       I Wanna Play For You  Stanley Clarke

Is it match? (y/n)n

                                         0            1
query input                   I Wanna Play  Bill Harley
output       I Don't Wanna Play (No Games)        Avaro

Is it match? (y/n)n

                        0            1
query input  I Wanna Play  Bill Harley
output       I Wanna Play    The Trews

Is it match? (y/n)n

                                 0            1
query input           I Wanna Play  Bill Harley
output       How You Wanna Play It       K$hare

Is it match? (y/n)n

                                 0            1
query input           I Wanna Play  Bill Harley
output       How You Wanna Play It      Tri$ten

Is it match? (y/n)n

                                 0            1
query input           I Wanna Play  Bill Harley
output       How You Wanna Play It       Fre$co

Is it match? (y/n)n

                                        0                      1
query input                  I Wanna Play            Bill Harley
output       I Wanna Play with Your Heart  Red Bricks Foundation

Is it match? (y/n)n

                        0               1
query input  I Wanna Play     Bill Harley
output       I Wanna Play  Yugen Destrxys

Is it match? (y/n)n

                                 0            1
query input           I Wanna Play  Bill Harley
output       I Wanna Play The Game    Dizartino

Is it match? (y/n)n

                       0                 1
query input  Snack Time!  Barenaked Ladies
output        Snack Time  Zoomer the Baker

Is it match? (y/n)n

                       0                                 1
query input  Snack Time!                  Barenaked Ladies
output        Snack Time  Kyle Duke and The Brown Bag Boys

Is it match? (y/n)n

                       0                 1
query input  Snack Time!  Barenaked Ladies
output        Snack Time  Byrell The Great

Is it match? (y/n)n

                       0                  1
query input  Snack Time!   Barenaked Ladies
output        Snack Time  Princess Precious

Is it match? (y/n)n

                                           0                 1
query input                      Snack Time!  Barenaked Ladies
output       Snack Time (On Some Shit Patch)    Bfb Da Packman

Is it match? (y/n)n

                           0                 1
query input      Snack Time!  Barenaked Ladies
output       It's Snack Time          Leopoldo

Is it match? (y/n)n

                                                           0                 1
query input                                      Snack Time!  Barenaked Ladies
output       Evening Lounge - Chillout Music For Snacks Time   Various Artists

Is it match? (y/n)n

                             0                  1
query input        Snack Time!   Barenaked Ladies
output       Alaska Snack Time  Alaska Snack Time

Is it match? (y/n)n

                       0                 1
query input  Snack Time!  Barenaked Ladies
output         The Times    Midnight Snack

Is it match? (y/n)n

                           0                 1
query input      Snack Time!  Barenaked Ladies
output       It's Snack Time  Funny Dog's Name

Is it match? (y/n)n

,0,1
query input,Snack Time!,Barenaked Ladies
output,Sunset Beach Chill (Chill Out Music For Evenin...,Stress Reduction Healing Mellow Chill Out Beats

Is it match? (y/n)n

,0,1
query input,Snack Time!,Barenaked Ladies
output,Sunset Beach Chill (Chill Out Music For Evenin...,Psychedelic Electronica Chill Out Festival

Is it match? (y/n)n

                                                  0                1
query input                      One World, One Kid  Various Artists
output       Elly's World of Nursery Rhymes, Vol. 1       Kid's Camp

Is it match? (y/n)n

                                0                1
query input    One World, One Kid  Various Artists
output       Majin World Series 1     Kid Lucilfer

Is it match? (y/n)n

                              0                1
query input  One World, One Kid  Various Artists
output       Kids World, Vol. 1    Erwan Loeffel

Is it match? (y/n)n

                                      0                1
query input          One World, One Kid  Various Artists
output       Chris Kidd's World, Vol. 1       Chris Kidd

Is it match? (y/n)n

                                 0                1
query input     One World, One Kid  Various Artists
output       Kidz World - Volume 1  Various Artists

Is it match? (y/n)n

                                0                  1
query input    One World, One Kid    Various Artists
output       Kiddie's World Vol.1  Kids Media Tracks

Is it match? (y/n)n

                                0                     1
query input    One World, One Kid       Various Artists
output       Kiddie's World Vol.1  Fun Children's Music

Is it match? (y/n)n

                                0                1
query input    One World, One Kid  Various Artists
output       Kiddie's World Vol.1     Media Tracks

Is it match? (y/n)n

                                        0                1
query input            One World, One Kid  Various Artists
output       Rock Your World Kids!, Vol.1          Armelle

Is it match? (y/n)n

                                    0                 1
query input        One World, One Kid   Various Artists
output       McFly World Kids Volume1  McFly World Kids

Is it match? (y/n)n

                                                   0                1
query input                       One World, One Kid  Various Artists
output       The World's Greatest Kid's Music Vol. 1    Happy Animals

Is it match? (y/n)n

,0,1
query input,"One World, One Kid",Various Artists
output,Kid Entrepreneurs Saving the World One Busines...,Hysteric's Truth

Is it match? (y/n)n

                                       0                     1
query input                  Let's Dance  Strawberry Shortcake
output       Let's Dance (2018 Remaster)           David Bowie

Is it match? (y/n)n

                       0                     1
query input  Let's Dance  Strawberry Shortcake
output       Let's Dance           David Bowie

Is it match? (y/n)n

                           0                     1
query input      Let's Dance  Strawberry Shortcake
output       Let's Dance Raw     Shintaro Sakamoto

Is it match? (y/n)n

                              0                     1
query input         Let's Dance  Strawberry Shortcake
output       Shut Up Lets Dance       Various Artists

Is it match? (y/n)n

                       0                     1
query input  Let's Dance  Strawberry Shortcake
output       Let's Dance                  Five

Is it match? (y/n)n

                                 0                     1
query input            Let's Dance  Strawberry Shortcake
output       Let's Shut Up & Dance          Jason Derulo

Is it match? (y/n)n

                                 0                     1
query input            Let's Dance  Strawberry Shortcake
output       Let's Shut Up & Dance                   LAY

Is it match? (y/n)n

                                 0                     1
query input            Let's Dance  Strawberry Shortcake
output       Let's Shut Up & Dance               NCT 127

Is it match? (y/n)n

                       0                     1
query input  Let's Dance  Strawberry Shortcake
output       Let's Dance              DJ Six 9

Is it match? (y/n)n

                       0                     1
query input  Let's Dance  Strawberry Shortcake
output       Let's Dance                Noggin

Is it match? (y/n)n

,0,1
query input,Let's Dance,Strawberry Shortcake
output,!Vamos a bailar! Let's Dance! The Dora the Exp...,Dora The Explorer

Is it match? (y/n)n

                                              0                     1
query input                         Let's Dance  Strawberry Shortcake
output       Let's Dance Music for Ballet Class           Lisa Harris

Is it match? (y/n)n

                                                             0       1
query input                                 Baby Loves Hip-Hop  Dino-5
output       Jaxen Loves Hip Hop, Baby Einstein, and Orland...    Leon

Is it match? (y/n)n

                                           0              1
query input              Yo, It's Christmas!  Yo Yo Yo Kids
output       You Make It Feel Like Christmas   Gwen Stefani

Is it match? (y/n)n

                                                             0              1
query input                                Yo, It's Christmas!  Yo Yo Yo Kids
output       You Make It Feel Like Christmas (Deluxe Editio...   Gwen Stefani

Is it match? (y/n)n

                                0              1
query input   Yo, It's Christmas!  Yo Yo Yo Kids
output       It Must Be Christmas    Chris Young

Is it match? (y/n)n

                                                0              1
query input                   Yo, It's Christmas!  Yo Yo Yo Kids
output       Kiss Me It's Christmas (feat. Ne-Yo)    Leona Lewis

Is it match? (y/n)n

                                             0              1
query input                Yo, It's Christmas!  Yo Yo Yo Kids
output       It Won't Be Christmas Without You  Brooks & Dunn

Is it match? (y/n)n

,0,1
query input,"Yo, It's Christmas!",Yo Yo Yo Kids
output,It's Not Christmas Without You (feat. Victoria...,Victorious Cast

Is it match? (y/n)n

                                                             0              1
query input                                Yo, It's Christmas!  Yo Yo Yo Kids
output       Did I Make You Cry on Christmas Day? (Well, Yo...      Peach Pit

Is it match? (y/n)n

                                           0              1
query input              Yo, It's Christmas!  Yo Yo Yo Kids
output       You Make It Feel Like Christmas   Gwen Stefani

Is it match? (y/n)n

                                                 0              1
query input                    Yo, It's Christmas!  Yo Yo Yo Kids
output       It's Christmas And I Fucking Miss You   Charly Bliss

Is it match? (y/n)n

                                                             0              1
query input                                Yo, It's Christmas!  Yo Yo Yo Kids
output       First Christmas (That I Loved You) [From The N...  Shameik Moore

Is it match? (y/n)n

                                            0                        1
query input                        Undeniable  Alvin and the Chipmunks
output       Undeniable (feat. X Ambassadors)                     Kygo

Is it match? (y/n)n

                                            0                        1
query input                        Undeniable  Alvin and the Chipmunks
output       Undeniable (feat. X Ambassadors)            X Ambassadors

Is it match? (y/n)n

                      0                        1
query input  Undeniable  Alvin and the Chipmunks
output       Undeniable          Seckond Chaynce

Is it match? (y/n)n

                      0                        1
query input  Undeniable  Alvin and the Chipmunks
output       Undeniable              Josh Wilson

Is it match? (y/n)n

,0,1
query input,Undeniable,Alvin and the Chipmunks
output,"Transnational Speedway League: Anthems, Anecdo...",Clutch

Is it match? (y/n)n

                      0                        1
query input  Undeniable  Alvin and the Chipmunks
output       Undeniable                  Yg Teck

Is it match? (y/n)n

                      0                        1
query input  Undeniable  Alvin and the Chipmunks
output       Undeniable          Stegosaurus Rex

Is it match? (y/n)n

                      0                        1
query input  Undeniable  Alvin and the Chipmunks
output       Undeniable         Man Made Machine

Is it match? (y/n)n

                      0                        1
query input  Undeniable  Alvin and the Chipmunks
output       Undeniable                   LeBron

Is it match? (y/n)n

                      0                        1
query input  Undeniable  Alvin and the Chipmunks
output       Undeniable            Eddie Griffin

Is it match? (y/n)n

                           0                        1
query input       Undeniable  Alvin and the Chipmunks
output       Undeniable Love              Charlie Rey

Is it match? (y/n)n

                                                0                1
query input                         Cool Kind Kid  Various Artists
output       Kid Friendly Party Pop Songz, Vol. 1   The Cool Kidzz

Is it match? (y/n)n

                                           0                1
query input                    Cool Kind Kid  Various Artists
output       Tanner's Manners: Cool Kind Kid      Steve Megaw

Is it match? (y/n)n

                                          0                1
query input                   Cool Kind Kid  Various Artists
output       Kid Friendly Pop Songz, Vol. 2   The Cool Kidzz

Is it match? (y/n)n

,0,1
query input,Cool Kind Kid,Various Artists
output,Kinder Karneval: Die coolsten Party Hits fr Kids,Various Artists

Is it match? (y/n)n

                              0                   1
query input       Cool Kind Kid     Various Artists
output       Cool Kids Of Death  Cool Kids Of Death

Is it match? (y/n)n

                                                        0                1
query input                                 Cool Kind Kid  Various Artists
output       Die coole Kinderparty, Vol. 2 - Kinderlieder      Techno Kids

Is it match? (y/n)n

                                                          0                1
query input                                   Cool Kind Kid  Various Artists
output       Theme & Soundtrack Songs from Kids Movies 2014   The Cool Kidzz

Is it match? (y/n)n

,0,1
query input,Cool Kind Kid,Various Artists
output,Der groe Kinderlieder Hitmix - 40 coole Hits ...,Various Artists

Is it match? (y/n)n

                                         0                1
query input                  Cool Kind Kid  Various Artists
output       Die coole Kinderparty, Vol. 1      Techno Kids

Is it match? (y/n)n

                                          0                1
query input                   Cool Kind Kid  Various Artists
output       Kinderlieder Echt cool, Vol. 1        Pila Kids

Is it match? (y/n)n

                              0                    1
query input  Making Silly Faces         Nick Deysher
output       Making Silly Faces  In The Nick of Time

Is it match? (y/n)y

                           0                            1
query input  Friends Forever  Carrie Lyn, Michael Bannett
output       Friends Forever                    Mr. Jello

Is it match? (y/n)n

                                0                            1
query input       Friends Forever  Carrie Lyn, Michael Bannett
output       Best Friends Forever                The Fun Squad

Is it match? (y/n)n

,0,1
query input,Friends Forever,"Carrie Lyn, Michael Bannett"
output,Friends Forever (Spirit: Riding Free),Amber Frank

Is it match? (y/n)n

,0,1
query input,Friends Forever,"Carrie Lyn, Michael Bannett"
output,Friends Forever (Spirit: Riding Free),Sydney Park

Is it match? (y/n)n

,0,1
query input,Friends Forever,"Carrie Lyn, Michael Bannett"
output,Friends Forever (Spirit: Riding Free),Bailey Gambertoglio

Is it match? (y/n)n

                           0                            1
query input  Friends Forever  Carrie Lyn, Michael Bannett
output       Friends Forever                   Wander Sky

Is it match? (y/n)n

,0,1
query input,Friends Forever,"Carrie Lyn, Michael Bannett"
output,Furry Friends Forever: Elmo Gets a Puppy (Orig...,Sesame Street

Is it match? (y/n)n

                           0                            1
query input  Friends Forever  Carrie Lyn, Michael Bannett
output       Friends Forever                       Palace

Is it match? (y/n)n

                           0                            1
query input  Friends Forever  Carrie Lyn, Michael Bannett
output       Friends Forever              Various Artists

Is it match? (y/n)n

                                               0                            1
query input                      Friends Forever  Carrie Lyn, Michael Bannett
output       The BFF Song (Best Friends Forever)                 LEGO Friends

Is it match? (y/n)n

                           0                            1
query input  Friends Forever  Carrie Lyn, Michael Bannett
output       Friends Forever       Queens of the Universe

Is it match? (y/n)n

                           0                            1
query input  Friends Forever  Carrie Lyn, Michael Bannett
output       Forever Friends                 Janie Becker

Is it match? (y/n)n

                                                0                1
query input               Brother Bear Soundtrack  Various Artists
output       Brother Bear 2 (Original Soundtrack)     Dave Metzger

Is it match? (y/n)n

                                                0                  1
query input               Brother Bear Soundtrack    Various Artists
output       Brother Bear 2 (Original Soundtrack)  Melissa Etheridge

Is it match? (y/n)n

                                                0                1
query input               Brother Bear Soundtrack  Various Artists
output       Brother Bear 2 (Original Soundtrack)      Josh Kelley

Is it match? (y/n)n

                            0                              1
query input  Casey at the Bat  London Philharmonic Orchestra
output       Casey at the Bat                  Roderic Reece

Is it match? (y/n)n

                            0            1
query input   Yes to Running!  Bill Harley
output       Running On Empty   Yes to Yes

Is it match? (y/n)n
Processing 400th row.  Time elapsed: 7.37 minutes. Found 2 singles.

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output       The Tortoise And The Hare               The Art Of Noise

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output           Tortoise and the Hare                         Blanco

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output           Tortoise and the Hare                        Husalah

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output           Tortoise and the Hare                         Kokane

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output       The Hare and the Tortoise          Favorite Kids Stories

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output       The Tortoise And The Hare                         SamSam

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output       The tortoise and the hare                    eBook Korea

Is it match? (y/n)n

                                     0                                    1
query input  The Tortoise and the Hare        London Philharmonic Orchestra
output       The Tortoise and the Hare  The Peter Pan Players and Orchestra

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output       The Tortoise and the Hare                       LionHead

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output       The Tortoise And The Hare           Mizz Frankie J Beatz

Is it match? (y/n)n

                                     0                              1
query input  The Tortoise and the Hare  London Philharmonic Orchestra
output       The Hare and The Tortoise                     SILVERBELL

Is it match? (y/n)n

                                     0                                 1
query input  The Tortoise and the Hare     London Philharmonic Orchestra
output       The Tortoise and the Hare  Haba una Vez Cuentos Infantiles

Is it match? (y/n)n

                                              0                        1
query input                     Take It Outside  The Okee Dokee Brothers
output       Take It Outside (feat. Robb Bank$)                 Supa Bwe

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take It Outside   Matty Z & The Brawlers

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take It Outside                 Tre Nyce

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take It Outside                   Djkemo

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take It Outside          Sensible Antixx

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take It Outside                     TRIO

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take It Outside       The Tim & Bob Show

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take It Outside             Martin Kyler

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take It Outside           Joey Neverland

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       take it outside             Rowan Cooper

Is it match? (y/n)n

                           0                        1
query input  Take It Outside  The Okee Dokee Brothers
output       Take it outside               Mess Esque

Is it match? (y/n)n

,0,1
query input,Dev2.0,Dev2.0
output,Soul Jazz Records Presents PUNK 45: Chaos in t...,Various Artists

Is it match? (y/n)n

                                   0                1
query input                   Dev2.0           Dev2.0
output       Seized and Devoured 2.0  Rings of Saturn

Is it match? (y/n)n

                                         0       1
query input                         Dev2.0  Dev2.0
output       Devagarinho 2.0 (prod. DKVPZ)    Illy

Is it match? (y/n)n

                                         0                  1
query input                         Dev2.0             Dev2.0
output       Devagarinho 2.0 (prod. DKVPZ)  Baco Exu do Blues

Is it match? (y/n)n

                                         0                1
query input                         Dev2.0           Dev2.0
output       Devagarinho 2.0 (prod. DKVPZ)  Arnaldo Antunes

Is it match? (y/n)n

                    0         1
query input    Dev2.0    Dev2.0
output       Devo 2.0  Devo 2.0

Is it match? (y/n)y

                     0            1
query input  Superhero  Mission Six
output       Superhero         Hayd

Is it match? (y/n)n

                                    0            1
query input                 Superhero  Mission Six
output       Superhero Corgi - Single     IAN & EM

Is it match? (y/n)n

                     0            1
query input  Superhero  Mission Six
output       Superhero         Lauv

Is it match? (y/n)n

                     0              1
query input  Superhero    Mission Six
output       Superhero  Unknown Brain

Is it match? (y/n)n

                     0             1
query input  Superhero   Mission Six
output       Superhero  Chris Linton

Is it match? (y/n)n

                                 0            1
query input              Superhero  Mission Six
output       Superhero In My Sleep        Rival

Is it match? (y/n)n

                                 0                     1
query input              Superhero           Mission Six
output       Superhero In My Sleep  Asketa & Natan Chaim

Is it match? (y/n)n

                     0               1
query input  Superhero     Mission Six
output       Superhero  Brian McKnight

Is it match? (y/n)n

,0,1
query input,Superhero,Mission Six
output,DC Super Hero Girls: Season 1 (Original Televi...,DC Super Hero Girls

Is it match? (y/n)n

                     0                        1
query input  Superhero              Mission Six
output       Superhero  The Laurie Berkner Band

Is it match? (y/n)n

,0,1
query input,Superhero,Mission Six
output,DC Super Hero Girls: Season 2 (Original Televi...,DC Super Hero Girls

Is it match? (y/n)n

                     0              1
query input  Superhero    Mission Six
output       Superhero  Stephen Lynch

Is it match? (y/n)n

                                                        0                 1
query input                      "There's a Place for Us"  Carrie Underwood
output       There's A Place For Us: The Unreleased Album      The Supremes

Is it match? (y/n)n

                                    0                 1
query input  "There's a Place for Us"  Carrie Underwood
output         There's a Place for Us     Nadine Sierra

Is it match? (y/n)n

                                    0                             1
query input  "There's a Place for Us"              Carrie Underwood
output         There's a Place for Us  Royal Philharmonic Orchestra

Is it match? (y/n)n

                                    0                 1
query input  "There's a Place for Us"  Carrie Underwood
output         There's a Place for Us      Robert Spano

Is it match? (y/n)n

,0,1
query input,"""There's a Place for Us""",Carrie Underwood
output,Somewhere [There's a Place for Us (Cello Versi...,Sarah Joy

Is it match? (y/n)n

                                    0                      1
query input  "There's a Place for Us"       Carrie Underwood
output         There's A Place For Us  Girls of the Internet

Is it match? (y/n)n

                                    0                 1
query input  "There's a Place for Us"  Carrie Underwood
output         There's A Place For Us         Tableland

Is it match? (y/n)n

,0,1
query input,"""There's a Place for Us""",Carrie Underwood
output,There's A Place For Us (Bonus Track from The C...,E.M.D.

Is it match? (y/n)n

                                           0                 1
query input         "There's a Place for Us"  Carrie Underwood
output       There Used To Be A Place For Us  Save Your Breath

Is it match? (y/n)n

                                              0                 1
query input            "There's a Place for Us"  Carrie Underwood
output       Somewhere (There's a Place for Us)         Jakub Ny

Is it match? (y/n)n

                                    0                 1
query input  "There's a Place for Us"  Carrie Underwood
output        There Is a Place for Us   Various Artists

Is it match? (y/n)n

                                    0                 1
query input  "There's a Place for Us"  Carrie Underwood
output        There Is a Place for Us       Freddy Abbo

Is it match? (y/n)n

                                          0                 1
query input        "There's a Place for Us"  Carrie Underwood
output       There's a place in hell for us          GoodName

Is it match? (y/n)n

                                            0             1
query input  "Tell Me Something I Don't Know"  Selena Gomez
output         tell me something i don't know       J-Reyez

Is it match? (y/n)n

                                            0             1
query input  "Tell Me Something I Don't Know"  Selena Gomez
output       Tell Me Something (I Don't Know)          Otto

Is it match? (y/n)n

                                                     0             1
query input           "Tell Me Something I Don't Know"  Selena Gomez
output       Tell Me Something I Don't Know (5 tracks)   Herman Dne

Is it match? (y/n)n

                                            0             1
query input  "Tell Me Something I Don't Know"  Selena Gomez
output         Tell Me Something I Dont Know  Ryelee James

Is it match? (y/n)n

                                            0              1
query input  "Tell Me Something I Don't Know"   Selena Gomez
output         Tell Me Something I Don't Know  IMMORTALBONES

Is it match? (y/n)n

                                            0               1
query input  "Tell Me Something I Don't Know"    Selena Gomez
output         Tell Me Something I Don't Know  ThaFifthPlanet

Is it match? (y/n)n

                                            0             1
query input  "Tell Me Something I Don't Know"  Selena Gomez
output         Tell Me Something I Don't Know        DEADLY

Is it match? (y/n)n

                                            0             1
query input  "Tell Me Something I Don't Know"  Selena Gomez
output         Tell Me Something I Don't Know    Jeff Engle

Is it match? (y/n)n

                                            0             1
query input  "Tell Me Something I Don't Know"  Selena Gomez
output         Tell Me Something I Don't Know       GROWERS

Is it match? (y/n)n

                                            0             1
query input  "Tell Me Something I Don't Know"  Selena Gomez
output         Tell Me Something I Don't Know          Chez

Is it match? (y/n)n

                               0                 1
query input       Stand (single)       Tylar Brock
output       Yike Stand - Single  Priceless Da Roc

Is it match? (y/n)n

                                         0               1
query input                 Stand (single)     Tylar Brock
output       One Night Stand (Single Edit)  Jeffrey Heesen

Is it match? (y/n)n

                                               0            1
query input                       Stand (single)  Tylar Brock
output       No More Sad Face (Standard Version)  Single File

Is it match? (y/n)n

                                                   0            1
query input                           Stand (single)  Tylar Brock
output       Stand on the Word (Mima Remix) - Single        Keedz

Is it match? (y/n)n

                             0            1
query input     Stand (single)  Tylar Brock
output       Stand Up - Single   Coco Jones

Is it match? (y/n)n

                            0            1
query input    Stand (single)  Tylar Brock
output       Standup (single)    Stromkern

Is it match? (y/n)n

                                        0            1
query input                Stand (single)  Tylar Brock
output       Stand For Something - Single        Keida

Is it match? (y/n)n

                                              0            1
query input                      Stand (single)  Tylar Brock
output       Stand Firm (feat. Sizzla) - Single       J Boog

Is it match? (y/n)n

                                               0                      1
query input                       Stand (single)            Tylar Brock
output       You Can't Stand Next To Us - Single  Friendly Neighborhood

Is it match? (y/n)n

                                       0            1
query input               Stand (single)  Tylar Brock
output       From Where I Stand (Single)   Epicstaxis

Is it match? (y/n)n

                                                             0              1
query input                          Big Time Movie Soundtrack  Big Time Rush
output       A Time to Kheal (Blood Billz The Movie Soundtr...        Big Lew

Is it match? (y/n)n

                            0                       1
query input  Holes Soundtrack         Various Artists
output                  Holes  Soundtrack of a Summer

Is it match? (y/n)n

,0,1
query input,Genie Magic,"Bratz, Lauren Evans"
output,Magic Genie (Music Inspired by the Movie),Riverfront Studio Singers

Is it match? (y/n)n

                       0                    1
query input  Genie Magic  Bratz, Lauren Evans
output       Magic Genie                 B-lo

Is it match? (y/n)n

                       0                    1
query input  Genie Magic  Bratz, Lauren Evans
output       Magic Genie                   Ro

Is it match? (y/n)n

                                 0                    1
query input            Genie Magic  Bratz, Lauren Evans
output       Genie in Magical Lamp      Various Artists

Is it match? (y/n)n

                                         0                    1
query input                    Genie Magic  Bratz, Lauren Evans
output       Aladdin And the Magical Genie   Kim Mitzo Thompson

Is it match? (y/n)n

                                         0                      1
query input                    Genie Magic    Bratz, Lauren Evans
output       Aladdin And the Magical Genie  Nashville Kids' Sound

Is it match? (y/n)n

                                         0                    1
query input                    Genie Magic  Bratz, Lauren Evans
output       Aladdin And the Magical Genie   Kim Mitzo Thompson

Is it match? (y/n)n

,0,1
query input,Genie Magic,"Bratz, Lauren Evans"
output,Hazelonis! The Glorious Magician! And Hushande...,Bruce Moore

Is it match? (y/n)n

                                0                    1
query input           Genie Magic  Bratz, Lauren Evans
output       Merchant & The Genie             Magicbox

Is it match? (y/n)n

                         0                    1
query input    Genie Magic  Bratz, Lauren Evans
output       Life In Magic         Ken La Genie

Is it match? (y/n)n

                       0                    1
query input  Genie Magic  Bratz, Lauren Evans
output        Heartifact   Magic Heart Genies

Is it match? (y/n)n

                          0                    1
query input     Genie Magic  Bratz, Lauren Evans
output       Cardiac Arrest   Magic Heart Genies

Is it match? (y/n)n

                        0             1
query input  Clique Girlz  Clique Girlz
output         Incredible  Clique Girlz

Is it match? (y/n)n

                                 0             1
query input           Clique Girlz  Clique Girlz
output       Incredible (Acoustic)  Clique Girlz

Is it match? (y/n)n

                                                  0                1
query input                       Robots Soundtrack  Various Artists
output       Return All Robots! Original Soundtrack           zircon

Is it match? (y/n)n

,0,1
query input,Robots Soundtrack,Various Artists
output,"Lost in Space, Vol. 3: Welcome Stranger / My F...",Various Artists

Is it match? (y/n)n

                                                 0                     1
query input                      Robots Soundtrack       Various Artists
output       E.V.I.L. Robots (Original Soundtrack)  Todd Stewart Coleman

Is it match? (y/n)n

                                             0                1
query input                  Robots Soundtrack  Various Artists
output       Robots: The Exhibition Soundtrack     Coda to Coda

Is it match? (y/n)n

                                             0                1
query input                  Robots Soundtrack  Various Artists
output       Robots: The Exhibition Soundtrack      Sam Britton

Is it match? (y/n)n

                                             0                1
query input                  Robots Soundtrack  Various Artists
output       Robots: The Exhibition Soundtrack     Will Worsley

Is it match? (y/n)n

                                                0                1
query input                     Robots Soundtrack  Various Artists
output       Robots of Kill (Original Soundtrack)   Jyri Luukkonen

Is it match? (y/n)n

                                                       0                1
query input                            Robots Soundtrack  Various Artists
output       A Robot's Best Friend (Original Soundtrack)   Eddie Coldrick

Is it match? (y/n)n

,0,1
query input,Robots Soundtrack,Various Artists
output,Little Lost Robots: The Little Lost Soundtrack...,Daniel Docherty Music

Is it match? (y/n)n

,0,1
query input,Robots Soundtrack,Various Artists
output,Cyber City Mutant Robots (Original Game Soundt...,HYPNOTIC GAMES

Is it match? (y/n)n

,0,1
query input,Robots Soundtrack,Various Artists
output,Robots Cry Too (Original Motion Picture Soundt...,Sergey Dostovalov

Is it match? (y/n)n

,0,1
query input,Robots Soundtrack,Various Artists
output,Attack of the Petscii Robots! (Original Game S...,Noelle Amelie Aman

Is it match? (y/n)n

                                  0       1
query input         More Than Words  Menudo
output       More Than Words Heaven   Flans

Is it match? (y/n)n

                                  0         1
query input         More Than Words    Menudo
output       More Than Words Heaven  Ada Band

Is it match? (y/n)n

                                  0           1
query input         More Than Words      Menudo
output       More Than Words Heaven  Luny Tunes

Is it match? (y/n)n

                           0               1
query input  More Than Words          Menudo
output       More Than Words  Brian McKnight

Is it match? (y/n)n

                           0         1
query input  More Than Words    Menudo
output       More Than Words  Sykomori

Is it match? (y/n)n

                           0               1
query input  More Than Words          Menudo
output       More Than Words  Joseph Vincent

Is it match? (y/n)n

                                             0          1
query input                    More Than Words     Menudo
output       More Than Words (English Version)  Frankie J

Is it match? (y/n)n

                           0             1
query input  More Than Words        Menudo
output       More Than Words  Culture Code

Is it match? (y/n)n

                           0       1
query input  More Than Words  Menudo
output       More Than Words    RRY

Is it match? (y/n)n

                                        0            1
query input               More Than Words       Menudo
output       More Than Words (feat. MNEK)  Sleepwalkrs

Is it match? (y/n)n

                                        0       1
query input               More Than Words  Menudo
output       More Than Words (feat. MNEK)    MNEK

Is it match? (y/n)n

                           0               1
query input  More Than Words          Menudo
output       More Than Words  Raphael Tocard

Is it match? (y/n)n

                                                           0            1
query input                                  More Than Words       Menudo
output       More Than Words (feat. MNEK) [Oliver Mac Remix]  Sleepwalkrs

Is it match? (y/n)n

                                                           0       1
query input                                  More Than Words  Menudo
output       More Than Words (feat. MNEK) [Oliver Mac Remix]    MNEK

Is it match? (y/n)n

                                                           0           1
query input                                  More Than Words      Menudo
output       More Than Words (feat. MNEK) [Oliver Mac Remix]  Oliver Mac

Is it match? (y/n)n

                           0       1
query input  More Than Words  Menudo
output       More Than Words  Stract

Is it match? (y/n)n

                              0                    1
query input           OMG! Jams       Ashley Tisdale
output       If I Was You (OMG)  Ultimate Party Jams

Is it match? (y/n)n

                                           0                     1
query input                   Social Studies  Rhythm Rhyme Results
output       Social Studies (Deluxe Edition)         Body Language

Is it match? (y/n)n

                          0                     1
query input  Social Studies  Rhythm Rhyme Results
output       Social Studies         Body Language

Is it match? (y/n)n

                                           0                     1
query input                   Social Studies  Rhythm Rhyme Results
output       Social Studies (Deluxe Edition)         Body Language

Is it match? (y/n)n

                          0                      1
query input  Social Studies   Rhythm Rhyme Results
output       Social Studies  Loudon Wainwright III

Is it match? (y/n)n

,0,1
query input,Social Studies,Rhythm Rhyme Results
output,Social Studies: an Introduction to Charles Atlas,Charles Atlas

In [15]:
albums_id_4 = pd.DataFrame(results,columns=['Album_Name','Artist','Track_ID','Track_Name_Spotify','Artists_Spotify'])

In [16]:
albums_id_4.to_csv("./data/albums_id_4.csv", index=False)

albums_id_4 = pd.read_csv("./data/albums_id_4.csv")

albums_id_4.sample(3)

,Album_Name,Artist,Track_ID,Track_Name_Spotify,Artists_Spotify
2,Dev2.0,Dev2.0,5yOLkUelCWvz7pNb3Uyvu6,Devo 2.0,['Devo 2.0']
1,Making Silly Faces,Nick Deysher,2MPgd67X25SmFa01Gj6XRZ,Making Silly Faces,['In The Nick of Time']
0,The Fresh Beat Band: Music from the Hit TV Sho...,The Fresh Beat Band,6jXrznEcmVQ741Kq7zDbQg,The Fresh Beat Band Vol 2.0: More Music From T...,['The Fresh Beat Band']

# Summary: number of albums found

In [3]:
import pandas as pd
albums_id_1 = pd.read_csv("../data/albums_id_1.csv")
albums_id_2 = pd.read_csv("../data/albums_id_2.csv")

albums_id_3 = pd.read_csv("../data/albums_id_3.csv")
albums_id_4 = pd.read_csv("../data/albums_id_4.csv")
singles_id_1 = pd.read_csv("../data/singles_id_1.csv")

In [10]:
albums_df = pd.concat([albums_id_1, albums_id_2, albums_id_3, albums_id_4])
albums_df = albums_df.drop(columns=['Track_ID', 'Track_Name_Spotify'])
print (albums_df.shape[0], "albums")
print (singles_id_1.shape[0], "singles")
print ("total: albums + singles = ", albums_df.shape[0] + singles_id_1.shape[0])

display(albums_df.sample(3))
display(singles_id_1.sample(3))

1181 albums
567 singles
total: albums + singles =  1748

,Album_Name,Artist,Album_ID,Album_Name_Spotify,Artists_Spotify
4,cELLAbration! A Tribute to Ella Jenkins,Various Artists,NaN,NaN,['Various Artists']
920,Curtain Call,Eminem,5qENHeCSlwWpEzb25peRmQ,Curtain Call: The Hits (Deluxe Edition),['Eminem']
43,Sharpay's Fabulous Adventure Soundtrack,"Ashley Tisdale, Various Artists",7vDbqYD54hHrZ1yjmPljS4,Sharpay's Fabulous Adventure,['Various Artists']

,Album_Name,Artist,Track_ID,Track_Name_Spotify,Artists_Spotify
13,"""The Time of My Life"" (CD single)",David Cook,6avyV3xlz2UFeiAUZ0SqyT,The Time of My Life,['David Cook']
328,"""I Am the Champion"" (CD single)",B.o.B.,57gArW5xYHNXaw2am8s5eG,I Am the Champion,['B.o.B']
224,"""Cups"" (CD Single)",Anna Kendrick,6mH3qVIeOsnQIAho5eWwhH,Cups (Pitch Perfects When Im Gone) - Pop V...,['Anna Kendrick']

In [9]:
albums_df.to_csv("../data/album_ids.csv", index = False)
singles_id_1.to_csv("../data/single_ids.csv", index = False)