# Summary

For each album with album_ID, use Spotify API to get track_ID of tracks in the album.

- Inupt 
     - 1181 albums and 567 singles
- Output
     - 17505 track + 567 tracks = 18074 tracks

# Import modules and credentials

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import spotipy
import os
import sys
import re
import time 
%matplotlib inline

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

from dotenv import load_dotenv
%load_ext dotenv
%dotenv


client_id = os.environ['SPOTIFY_CLIENT_ID']
client_secret = os.environ['SPOTIFY_CLIENT_SECRET']
spotify = spotipy.Spotify(
    client_credentials_manager=SpotifyClientCredentials(client_id = client_id, client_secret=client_secret))

# For each albumID, get trackIDs.

In [16]:
albums_df = pd.read_csv("../data/album_ids.csv")

display(albums_df.sample(3))
print ("Number of albums: ", albums_df.shape[0])

,Album_Name,Artist,Album_ID,Album_Name_Spotify,Artists_Spotify
221,Cheetah-licious Christmas,The Cheetah Girls,2dCaJ5ten3q3AbJ2VJZ8MY,The Cheetah Girls: A Cheetah-licious Christmas,['The Cheetah Girls']
1178,The Fresh Beat Band: Music from the Hit TV Sho...,The Fresh Beat Band,6jXrznEcmVQ741Kq7zDbQg,The Fresh Beat Band Vol 2.0: More Music From T...,['The Fresh Beat Band']
229,T-Squad,T-Squad,4rg5KjkmvXLtW9Hd1ReNY7,T-Squad,['T-Squad']

Number of albums:  1181

In [13]:
for _, row in albums_df.iterrows():
    album_name, album_id = row['Album_Name'], row['Album_ID']
    
    album = spotify.album(album_id)
    tracks = []
    for track in album['tracks']['items']:
        tracks.append(track['id'])
        album_tracks[album_id]=tracks
            

album_tracks_df = pd.DataFrame([(album_id, track_id) for album_id in album_tracks for track_id in album_tracks[album_id]], columns=['Album_ID','Track_ID'])
album_tracks_df.to_csv("../data/album_tracks.csv", index = False)

In [24]:
album_tracks_df = pd.read_csv("../data/album_tracks.csv")
single_tracks_df = pd.read_csv("../data/single_ids.csv")


display(album_tracks_df.head(3))
display(single_tracks_df[['Album_Name','Track_ID']].head(3))

print ("Number of tracks (from albums excluding singles): ", album_tracks_df.shape[0])
print ("Number of tracks (from singles): ", single_tracks_df.shape[0])
print ("Total Number of tracks: ", album_tracks_df.shape[0]+single_tracks_df.shape[0])

                 Album_ID                Track_ID
0  3Bj9gANIphLWtsNj3mw1bI  2FPQI1LRwWszttbRG8hknk
1  3Bj9gANIphLWtsNj3mw1bI  6pOoswwC1lNBI2TapMdaEW
2  3Bj9gANIphLWtsNj3mw1bI  2EEwSq98rKwlRWT7sNCLRc

                           Album_Name                Track_ID
0           "All Is Love" (CD single)  6SExQ9H4mX00FIhjffFM2z
1       "Wash Your Hands" (CD single)  5gzOuRPg48fglThPc84goP
2  "Just Like a Rockstar" (CD Single)  1b8NAn2ehmesKq4luLIfAc

Number of tracks (from albums excluding singles):  17507
Number of tracks (from singles):  567
Total Number of tracks:  18074